<template>
    <div>
        <fullList :steps="steps"/>
    </div>
</template>
<style>

</style>
<script>
  import fullList from 'Components/resources/specific/goals/steps/fullList.vue'
  export default{
    data () {
      return {
      }
    },
    computed: {
      steps: function () {
        return this.$store.state['stepStore'].list
      }
    },
    components: {
      fullList
    },
    created () {
      this.$store.dispatch('stepStore/getList', this.$route.params.id)
    }
  }
</script>
