<template>
    <div>
        <goalsList @selectGoal="selectGoal"/>

        <FullModal :open="showCreate" title="Edit goal" @close="close" scrollable>
            <goalCreate @close="close"/>
        </FullModal>
        <FullModal :open="showEdit" title="Edit goal" @close="close" scrollable>
            <goalEdit :selected="pickedGoal"  v-if="pickedGoal" @updateGoal="close"/>
        </FullModal>
        <mu-icon-button @click="openCreate" v-if="!showCreate" tooltip="create" tooltipPosition="top-center" icon="add"/>
    </div>
</template>
<style>

</style>
<script>
  import goalsList from '../../../components/resources/specific/goals/list.vue'
  import goalEdit from '../../../components/resources/specific/goals/edit.vue'
  import goalCreate from '../../../components/resources/specific/goals/create.vue'
  export default{
    data () {
      return {
        pickedGoal: {name: null},
        showCreate: false,
        showEdit: false
      }
    },
    methods: {
      selectGoal (goalId) {
        this.pickedGoal = goalId
        this.showCreate = false
        this.showEdit = true
      },
      close: function () {
        this.pickedGoal = {name: null}
        this.showCreate = false
        this.showEdit = false
      },
      openCreate () {
        this.showCreate = true
      }
    },
    components: {
      goalsList,
      goalEdit,
      goalCreate
    }
  }
</script>
