<template>
    <div>
        <mu-row>
            <mu-col width="50" desktop="50">
                <datepicker :value="newStart" @input="setNewStart" title="start"/>
                <datepicker :value="newEnd" @input="setNewEnd" title="end"/>
                <mu-raised-button label="set dates" @click="setDates"/>
            </mu-col>
            <mu-col width="50" desktop="50">
                <mu-switch label="show late" :value="showLate" @change="setShowLate"/>
                <br/>
                <mu-switch label="show dateless" :value="showDateless" @change="setShowDateless"/>
            </mu-col>
        </mu-row>
    </div>
</template>
<style>

</style>
<script>

  export default {
    data () {
      return {
        newStart: null,
        newEnd: null,
        time: {}
      }
    },
    methods: {
      setDates: function () {
        this.$store.dispatch('datesStore/setDates', [this.newStart, this.newEnd])
      },
      setShowLate: function (val) {
        this.$store.dispatch('datesStore/setShowLate', val)
      },
      setShowDateless: function (val) {
        this.$store.dispatch('datesStore/setShowDateless', val)
      },
      setNewStart (val) {
        if (val && typeof val === 'object') {
          val = val.toString()
        }
        this.newStart = val
      },
      setNewEnd (val) {
        if (val && typeof val === 'object') {
          val = val.toString()
        }
        this.newEnd = val
      }
    },
    // computed: mapState({
    //   start: state => state.datesStore.time.start,
    //   end: state => state.datesStore.time.end,
    //   showDateless: state => state.datesStore.time.showDateless,
    //   showLate: state => state.datesStore.time.showLate
    // }),
    computed: {
      start () {
        return this.$store.getters['datesStore/getDates']['start']
      },
      end () {
        return this.$store.getters['datesStore/getDates']['start']
      },
      showDateless () {
        return this.$store.getters['datesStore/getDates']['showDateless']
      },
      showLate () {
        return this.$store.getters['datesStore/getDates']['showLate']
      }
    },
    mounted () {
      this.setNewStart(this.start)
      this.setNewEnd(this.end)
    }
  }
</script>
