<template>
  <div>
    <mu-row>
      <mu-col width="100" tablet="50" desktop="50" v-for="type, index in filters" :key="index">
        <h4>{{index}}</h4>
        <div class="filter-type" v-for="filter in type" :key="filter.id">
          <mu-raised-button @click="toggleFilter(filter, index)"
                            :class="{has: (getFilterStatus(filter) === false), hasNot: (getFilterStatus(filter) === true)}">
            {{filter.name}}
          </mu-raised-button>
          <br>
          <br>
        </div>
      </mu-col>
    </mu-row>
    <button @click="resetAll">reset all</button>
  </div>
</template>

<script>

  export default {
    data () {
      return {
        msg: 'hello vue'
      }
    },
    computed: {
      filters: function () {
        return {
          blocks: this.$store.getters['blockStore/getAll'],
          moods: this.$store.getters['moodStore/getAll'],
          categories: this.$store.getters['categoryStore/getAll'],
          projects: this.$store.getters['projectStore/getAll'],
          contexts: this.$store.getters['contextStore/getAll']
        }
      }
    },
    methods: {
      toggleFilter: function (filter, type) {
        this.$store.commit('filterStore/toggleFilter', filter)
      },
      resetAll () {
        console.log('reset filters')
        this.$store.commit('filterStore/resetAll')
      },
      getFilterStatus: function (filter) {
        // todo ok jeesus... dont ever look at that =)
        let array = this.$store.state.filterStore.filters.map(item => {
          return {
            type: item.type,
            id: item.id,
            constrain: item.constrain
          }
        })
        let res = array.find(item => {
          if (item.type === filter.type && filter.id === item.id) {
            return true
          }
          return false
        })
        if (!res) {
          return null
        }
        return res.constrain
      }
    }
  }
</script>
<style lang="scss" scoped>

  .filter-type {
    .has {
      background-color: #beffb7;
    }
    .hasNot {
      background-color: #ffdad8;
    }
  }
</style>
