<template>
    <div>
        <div v-if="expand">
            <mu-switch label="categories" v-model="show.categories" class="demo-switch"/>
            <mu-switch label="moods" v-model="show.moods" class="demo-switch"/>
            <mu-switch label="projects" v-model="show.projects" class="demo-switch"/>
            <mu-switch label="contexts" v-model="show.contexts" class="demo-switch"/>
            <mu-switch label="blocks" v-model="show.blocks" class="demo-switch"/>
        </div>
        <mu-raised-button label="settings"  @click="toggleExpanded" primary/>
        <br><br>
    </div>
</template>
<style>

</style>
<script>
  import { mapState } from 'vuex'

  export default {
    data () {
      return {
        expand: false
      }
    },
    computed: mapState({
      show: state => state.filterStore.unitSettings.show
    }),
    methods: {
      toggleExpanded: function () {
        this.expand = !this.expand
      }
    }
  }
</script>
