<template>
    <div class="Mask">
        <div class="Mask-header">
            <slot name="header">
                {{entity.modelName}}: {{entity.name || 'entity header'}}
            </slot>
        </div>
        <div class="Mask-body">
            <slot name="body">
                <div class="Mask-description">
                    <slot name="description" class="description">
                        {{entity.description || 'entity description absent'}}
                    </slot>
                </div>

                <slot name="status" v-if="entity.hasFieldAttribute('status')">
                    <Status :entity="entity"/>
                </slot>
                <slot name="dates" v-if="entity.hasFieldAttribute('dates')">
                    <Dates :entity="entity"/>
                </slot>
                <slot name="filters" v-if="entity.hasFieldAttribute('filters')">
                    <DisplayFilters :entity="entity"/>
                </slot>
                <slot name="custom">
                </slot>
                <slot name="buttons">
                    <!-- default buttons aka crud buttons -->
                    <CrudButtons :entity="entity" />
                    <!-- type specific buttons-->
                    <!-- togglable buttons -->
                    <!-- custom buttons -->
                </slot>
                <slot name="customButtons">

                </slot>
            </slot>
        </div>
    </div>
</template>

<script>
  import Status from './fieldsPartials/Status.vue'
  import CrudButtons from './buttonsPartials/crudButtons.vue'
  export default {
    components: {
      Status,
      CrudButtons
    },
    name: 'EntityMask',
    props: ['entity'],
    methods: {
      delete (entity) {
        this.$emit('delete', entity)
      }
    }
  }
</script>
<style lang="stylus" scoped>
    .Mask
        border: 1px #001a3d solid;
        background-color: #c0f1ff;
        color: #3f3f3f;

        padding: 2px;
        border-radius: 20px;
        margin: 10px 0 10px 0;
        &-header
            display: block
            width: 100%
            text-align: center
        &-description
            font-size: 12px
</style>
