<template>
  <div class="EditModals" v-if="isAnyOpen">
    <FullModal v-if="openType === 'edit'" :open="openType === 'edit'" @click="closeModals" @close="closeModals" scrollable>
      <taskEdit v-if="Boolean(modal.model === 'task')" :id="modal.id" @cancel="closeModals"/>
      <checklistEdit v-if="Boolean(modal.model === 'checklist')" :id="modal.id" @cancel="closeModals"/>
      <pointEdit v-if="Boolean(modal.model === 'point')" :id="modal.id" @cancel="closeModals"/>
      <goalEdit v-if="Boolean(modal.model === 'goal')" :id="modal.id" @cancel="closeModals"/>
      <stepEdit v-if="Boolean(modal.model === 'step')" :id="modal.id" @cancel="closeModals"/>
      <routineEdit v-if="Boolean(modal.model === 'routine')" :id="modal.id" @cancel="closeModals"/>
      <categoryEdit v-if="Boolean(modal.model === 'category')" :id="modal.id" @cancel="closeModals"/>
      <moodEdit v-if="Boolean(modal.model === 'mood')" :id="modal.id" @cancel="closeModals"/>
      <projectEdit v-if="Boolean(modal.model === 'project')" :id="modal.id" @cancel="closeModals"/>
      <blockEdit v-if="Boolean(modal.model === 'block')" :id="modal.id" @cancel="closeModals"/>
      <contextEdit v-if="Boolean(modal.model === 'context')" :id="modal.id" @cancel="closeModals"/>
    </FullModal>
    <FullModal v-if="openType === 'create'" :open="openType === 'create'" @click="closeModals" @close="closeModals" scrollable>
      <taskCreate v-if="Boolean(modal.model === 'task')" @cancel="closeModals"/>
      <checklistCreate v-if="Boolean(modal.model === 'checklist')" @cancel="closeModals"/>
      <pointCreate v-if="Boolean(modal.model === 'point')" :parentId="modal.id" @cancel="closeModals"/>
      <goalCreate v-if="Boolean(modal.model === 'goal')" @cancel="closeModals"/>
      <stepCreate v-if="Boolean(modal.model === 'step')" :id="modal.id" @cancel="closeModals"/>
      <routineCreate v-if="Boolean(modal.model === 'routine')" @cancel="closeModals"/>
      <categoryCreate v-if="Boolean(modal.model === 'category')" @cancel="closeModals"/>
      <moodCreate v-if="Boolean(modal.model === 'mood')" @cancel="closeModals"/>
      <projectCreate v-if="Boolean(modal.model === 'project')" @cancel="closeModals"/>
      <blockCreate v-if="Boolean(modal.model === 'block')" @cancel="closeModals"/>
      <contextCreate v-if="Boolean(modal.model === 'context')" @cancel="closeModals"/>
    </FullModal>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import taskEdit from '@/components/resources/specific/tasks/edit'
  import checklistEdit from '@/components/resources/specific/checklists/edit'
  import pointEdit from '@/components/resources/specific/checklists/points/edit'
  import goalEdit from '@/components/resources/specific/goals/edit'
  import stepEdit from '@/components/resources/specific/goals/steps/edit'
  import routineEdit from '@/components/resources/specific/routines/edit'
  import categoryEdit from '@/components/resources/specific/categories/edit'
  import moodEdit from '@/components/resources/specific/moods/edit'
  import projectEdit from '@/components/resources/specific/projects/edit'
  import blockEdit from '@/components/resources/specific/blocks/edit'
  import contextEdit from '@/components/resources/specific/contexts/edit'
  import taskCreate from '@/components/resources/specific/tasks/create'
  import checklistCreate from '@/components/resources/specific/checklists/create'
  import pointCreate from '@/components/resources/specific/checklists/points/create'
  import goalCreate from '@/components/resources/specific/goals/create'
  import stepCreate from '@/components/resources/specific/goals/steps/create'
  import routineCreate from '@/components/resources/specific/routines/create'
  import categoryCreate from '@/components/resources/specific/categories/create'
  import moodCreate from '@/components/resources/specific/moods/create'
  import projectCreate from '@/components/resources/specific/projects/create'
  import blockCreate from '@/components/resources/specific/blocks/create'
  import contextCreate from '@/components/resources/specific/contexts/create'
  export default {
    components: {
      taskEdit,
      checklistEdit,
      pointEdit,
      goalEdit,
      stepEdit,
      routineEdit,
      categoryEdit,
      moodEdit,
      projectEdit,
      blockEdit,
      contextEdit,
      taskCreate,
      checklistCreate,
      pointCreate,
      goalCreate,
      stepCreate,
      routineCreate,
      categoryCreate,
      moodCreate,
      projectCreate,
      blockCreate,
      contextCreate

    },
    computed: {
      ...mapState({
        modal: state => state.createAndEditModals.modal
      }),
      isAnyOpen () {
        return !!this.modal
      },
      openType () {
        return this.modal ? this.modal.type : null
      }
    },
    methods: {
      ...mapActions([
        'createAndEditModals/closeModals'
      ]),
      closeModals () {
        this.$store.dispatch('createAndEditModals/closeModals')
      }
    }
  }
</script>

<style lang="scss">
  .EditModals {
  }
</style>
