<template>
    <div class="datepicker">
        <mu-date-picker :value="value" @input="valueUpdated" :hintText="title" okLabel="Ok" cancelLabel="Cancel" :dateTimeFormat="enDateFormat"/>
    </div>

</template>

<script>
const dayAbbreviation = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
const dayList = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
const monthList = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
  'Oct', 'Nov', 'Dec']
const monthLongList = ['January', 'February', 'March', 'April', 'May', 'June',
  'July', 'August', 'September', 'October', 'November', 'December']

const enDateFormat = {
  formatDisplay (date) {
    return `${dayList[date.getDay()]}, ${monthList[date.getMonth()]} ${date.getDate()}`
  },
  formatMonth (date) {
    return `${monthLongList[date.getMonth()]} ${date.getFullYear()}`
  },
  getWeekDayArray (firstDayOfWeek) {
    let beforeArray = []
    let afterArray = []
    for (let i = 0; i < dayAbbreviation.length; i++) {
      if (i < firstDayOfWeek) {
        afterArray.push(dayAbbreviation[i])
      } else {
        beforeArray.push(dayAbbreviation[i])
      }
    }
    return beforeArray.concat(afterArray)
  }
}
export default {
  name: 'Datepicker',
  props: ['value', 'title'],
  data () {
    return {
      enDateFormat,
      date: ''
    }
  },
  computed: {
    updatedProp: function () {
      this.date = this.value
      return this.value
    }
  },
  methods: {
    valueUpdated: function (val) {
      this.$emit('input', val)
    }
  }
}
</script>
