<template>
  <div class="EntityListTable">
    <button @click="createItem">create</button>
    <mu-table :showCheckbox="false" style="width: 100%">
      <mu-thead>
        <mu-tr>
          <mu-th>name</mu-th>
          <mu-th>actions</mu-th>
        </mu-tr>
      </mu-thead>
      <mu-tbody>
        <mu-tr v-for="item in list" :key="item.id">
          <mu-td>
            {{item.name}}
            <slot name="header" :item="item"/>
          </mu-td>
          <mu-td>
            <mu-icon-button @click="deleteItem(item)" tooltip="delete" icon="delete" tooltipPosition="top-center"/>
            <mu-icon-button @click="selectItem(item.id)" tooltip="select" icon="code" tooltipPosition="top-center"/>
            <slot :item="item"/>
          </mu-td>
        </mu-tr>
      </mu-tbody>
    </mu-table>
  </div>

</template>
<script>
  export default {
    props: {
      list: {
        type: Array,
        default: []
      }
    },
    methods: {
      deleteItem (item) {
        console.log('table delete')
        console.log(item)
        this.$emit('deleteItem', item)
      },
      selectItem (item) {
        console.log('table select')
        console.log(item)
        this.$emit('selectItem', item)
      },
      createItem () {
        this.$emit('createItem')
      }
    }
  }
</script>
