<template>
    <mu-select-field :value="value" @input="updateStatus" label="status">
        <mu-menu-item value="Pending" title="Pending"/>
        <mu-menu-item value="Working" title="Working"/>
        <mu-menu-item value="Complete" title="Complete"/>
        <mu-menu-item value="Failed" title="Failed"/>
        <mu-menu-item value="Cancelled" title="Cancelled"/>
    </mu-select-field>
</template>
<style>

</style>
<script>
  export default {
    props: {
      value: {
        type: String,
        default: 0
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    methods: {
      updateStatus (val) {
        this.$emit('input', val)
      }
    }
  }
</script>
