<template>
    <div>

        <mu-paper :zDepth="2">
            <h3>Filters</h3>
            <mu-raised-button :to="{name: 'start.categories'}" label="List of categories" primary/>
            <mu-raised-button :to="{name: 'start.moods'}" label="List of moods" primary/>
            <mu-raised-button :to="{name: 'start.projects'}" label="List of project" primary/>
            <mu-raised-button :to="{name: 'start.blocks'}" label="List of blocks" primary/>
            <mu-raised-button :to="{name: 'start.contexts'}" label="List of contexts" primary/>

        </mu-paper>
        <mu-paper :zDepth="2">
            <h3>Tasks</h3>
            <mu-raised-button :to="{name: 'start.tasks'}" label="List of tasks" primary/>
            <mu-raised-button :to="{name: 'start.tasks.filters'}" label="Filters" primary/>
        </mu-paper>
        <mu-paper :zDepth="2">
            <h3>Goals</h3>
            <mu-raised-button :to="{name: 'start.goals'}" label="List of goals / steps" primary/>
        </mu-paper>
        <mu-paper :zDepth="2">
            <h3>Routines</h3>
            <mu-raised-button :to="{name: 'start.routines'}" label="List of routines / chores" primary/>
        </mu-paper>
        <mu-paper :zDepth="2">
            <h3>Checklists</h3>
            <mu-raised-button :to="{name: 'start.checklists'}" label="List of checklists / points" primary/>
            <mu-raised-button :to="{name: 'start.checklists.list'}" label="Experimental list" primary/>
            <mu-raised-button :to="{name: 'start.checklists.crud'}" label="Crud list" primary/>
        </mu-paper>
        <mu-paper :zDepth="2">
            <h3>Stacks</h3>
            <mu-raised-button :to="{name: 'start.stacks'}" label="List of stacks / items" primary/>
        </mu-paper>
        <p>&nbsp;</p>
    </div>
</template>
<style>

    .mu-paper {
        margin-top: 20px;
        padding-top: 2px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
</style>
<script>
  export default{
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
