<template>
    <div>
        <mu-text-field @input="changeRItem" label="name" v-model="rItem.name" labelFloat/>
        <br/>
        <mu-text-field @input="changeRItem" label="description" v-model="rItem.description" labelFloat/>
        <br/>
        <statusSelect v-model="rItem.status" @input="changeRItem"/>

    </div>
</template>
<style>

</style>
<script>
  import statusSelect from '../../../pan/statusSelect'

  export default {
    props: ['value'],
    components: {
      statusSelect
    },
    data () {
      let rItem = this.value
      return {
        rItem
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeRItem: function () {
        this.$emit('input', this.rItem)
      }
    }
  }
</script>
