<template>
    <div>
        <div>create rItem</div>
        <mu-row>
            <mu-col width="100">
                <rItemForm v-model="rItem"/>
                <mu-raised-button label="Create" @click="createRItem(rItem)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import rItemForm from './_form.vue'
  export default{
    data () {
      return {
        rItem: {}
      }
    },
    components: {
      rItemForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createRItem (rItem) {
        rItem.stack_id = this.$route.params.id
        this.$store.dispatch('itemStore/addItem', rItem)
        this.rItem = {id: null, name: '', description: ''}
        this.$emit('close')
      }
    }
  }
</script>
