<template>
    <div>
        <div>Edit rItem</div>
        <mu-row>
            <mu-col width="100">
                <rItemForm v-model="rItem"/>
                <mu-raised-button label="Update" @click="updateRItem(rItem)" primary/>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
  import rItemForm from './_form.vue'
  export default{
    props: ['selected'],
    data () {
      let rItem = this.$store.getters['stackitemStore/getByIdWithIds'](this.selected)
      return {
        rItem
      }
    },
    components: {
      rItemForm
    },
    methods: {
      updateRItem (rItem) {
        this.$store.dispatch('itemStore/updateItem', rItem)
        this.$emit('updateRItem', rItem)
      }
    }
  }
</script>
