<template>
    <div>
        <div>this is RItems list1</div>
        <entityTable :list="list" @deleteItem="deleteRItem" @selectItem="selectRItem"/>
    </div>
</template>

<script>
  import entityTable from '../../../pan/entityTable'
  export default{
    components: {
      entityTable
    },
    computed: {
      list: function () {
        return this.$store.getters['stackitemStore/getByStack'](this.$route.params.id)
      }
    },
    methods: {
      deleteRItem (rItem) {
        this.$store.dispatch('itemStore/deleteItem', rItem)
      },
      selectRItem (rItem) {
        this.$emit('selectRItem', rItem)
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    created: function () {
      console.log('rItem list create')
      this.$store.dispatch('itemStore/getList')
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
