<template>
  <div class="horisontal-scroll">
    <p>Week table</p>
    <table border="1" cellpadding="0" cellspacing="0" class="WeekTable">
      <tr>
        <td v-for="row in table">
          <day-header :date="row.moment"/>
        </td>
      </tr>
      <tr>
        <td v-for="row in table" class="padded">
          <div class="WeekTable-entityGroup" v-for="group, index in row.lists" :key="index">
            {{index}}: {{group.length}}
            <Panel title="tasks" :open="false" v-if="index === 'tasks'">
              <CreateButton modelName="task"/>
              <div v-for="task in group" :key="task.id">
                <basicMask :entity="task">
                  <p slot="header">{{task.name}}</p>
                  <p slot="description">{{task.description}}</p>
                  <ChangeStatus slot="custom" :entity="task"/>
                </basicMask>
              </div>
            </Panel>
            <Panel title="goals" :open="false" v-if="index === 'goals'">
              <CreateButton modelName="goal"/>
              <div v-for="goal in group" :key="goal.id">
                <basicMask :entity="goal">
                  <p slot="header">{{goal.name}}</p>
                  <p slot="description">{{goal.description}}</p>
                  <div slot="custom">
                    <Panel title="steps" :open="false">
                      <CreateButton modelName="step" :id="goal.id"/>
                      <div class="Point" v-for="step in goal.steps">
                        <basicMask :entity="step">
                          <ChangeStatus slot="custom" :entity="step"/>
                        </basicMask>
                      </div>
                    </Panel>
                  </div>
                </basicMask>
              </div>
            </Panel>
            <Panel title="steps" :open="false" v-if="index === 'steps'">
              <div v-for="step in group" :key="step.id">
                <basicMask :entity="step">
                  <p slot="header">{{step.name}}</p>
                  <p slot="description">{{step.description}}</p>
                </basicMask>
              </div>
            </Panel>
            <Panel title="routines" :open="false" v-if="index === 'routines'">
              <div v-for="routine in group" :key="routine.id">
                <basicMask :entity="routine">
                  <p slot="header">{{routine.name}}</p>
                  <p slot="description">{{routine.description}}</p>
                </basicMask>
              </div>
            </Panel>
          </div>
        </td>
      </tr>
    </table>

  </div>
</template>

<script>
  import DayHeader from '@/components/general/DayHeader.vue'
  import EntityGridView from '@/components/resources/pan/GridsAndTables/EntityGridView'
  import Panel from '@/components/general/Panel.vue'
  import listItem from '@/components/resources/specific/checklists/listItem.vue'
  import UpDownButtons from '@/components/resources/specific/checklists/partials/UpDownButtons'
  import ChangeStatus from '@/components/resources/pan/fieldsPartials/ChangeStatus'

  export default {
    components: {
      EntityGridView,
      DayHeader,
      Panel,
      listItem,
      UpDownButtons,
      ChangeStatus
    },
    data () {
      return {
        data: null
      }
    },
    methods: {},
    computed: {
      tasks () {
        return this.$store.getters['taskStore/getFiltered']
      },
      goals () {
        return this.$store.getters['goalStore/getFiltered']
      },
      routines () {
        return this.$store.getters['routineStore/getAll']
      },
      steps () {
        return this.$store.getters['goalStore/getFilteredSteps']
      },
      table () {
        let days = this.$Provider.modules.timeTable.actions.getWeekDaysModels()
        days.addRow(this.tasks, 'tasks')
        // days.addRow(this.routines, 'routines')
        days.addRow(this.goals, 'goals')
        days.addRow(this.steps, 'steps')
        return days
      }
    },
    watch: {
      tasks (val) {
        console.log('tasks changed')
        console.log(val)
      }
    }
  }
</script>
<style lang="stylus">
  .horisontal-scroll
    width: 100%;
    overflow: scroll;
    .WeekTable
      border 1px grey dotted
      td
        min-width 160px
        max-width 250px
        vertical-align top
        &.padded
          padding-left: 1px
          padding-right: 1px
      &-entityGroup
        /*background-color lemonchiffon*/
        border 0px solid #b7f7ea
        margin-top 5px
        margin-bottom: 5px
        padding-top 10px
        padding-bottom 10px
</style>
