<template>
    <div>
        <mu-text-field  @input="changeBlock"  label="name" v-model="project.name" labelFloat/>
        <br/>
        <mu-text-field  @input="changeBlock"  label="description" v-model="project.description" labelFloat/>
        <br/>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let project = this.value
      return {
        project
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeBlock: function () {
        this.$emit('input', this.project)
      }
    }
  }
</script>
