<template>
  <div>
    <div>create project</div>
    <mu-row>
      <mu-col width="100">
        <projectForm v-model="project"/>
        <mu-raised-button label="Create" @click="createProject(project)" primary/>
      </mu-col>
    </mu-row>
    <mu-icon-button tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
  </div>
</template>

<script>
  import projectForm from './_form.vue'

  export default {
    data () {
      return {
        project: {}
      }
    },
    components: {
      projectForm
    },
    methods: {
      close () {
        this.$emit('close')
        this.$emit('cancel')
      },
      createProject (project) {
        this.$store.dispatch('projectStore/addItem', project)
        this.project = {id: null, name: '', description: ''}
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
