<template>
  <div v-if="item">
    <Form v-model="item"/>
    <mu-raised-button label="Update" @click="updateItem(item)" primary/>
  </div>
</template>
<style>

</style>
<script>
  import Form from './_form.vue'

  export default {
    props: ['id'],
    data () {
      return {
        item: null,
        entityModel: 'project'
      }
    },
    components: {
      Form
    },
    methods: {
      updateItem (item) {
        this.$store.dispatch(this.entityModel + 'Store/updateItem', item)
        this.$emit('cancel')
      }
    },
    created () {
      this.item = this.$store.getters[this.entityModel + 'Store/getById'](this.id)
    }
  }
</script>
