<template>
    <div>
        <mu-text-field @input="changeGoal" label="name" v-model="goal.name" labelFloat/>
        <br/>
        <mu-text-field @input="changeGoal" label="description" v-model="goal.description" labelFloat/>
        <br/>
        <FiltersField v-model="goal"/>
        <br>
        <Datepicker @input="changeGoal" v-model="goal.start" title="start date"/>
        <Datepicker @input="changeGoal" v-model="goal.end" title="end date"/>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let goal = this.value
      return {
        goal
      }
    },
    methods: {
      changeGoal: function () {
        console.log('send goal', this.goal)
        this.$emit('input', this.goal)
      }
    }
  }
</script>
