<template>
    <div>
        <div>create goal</div>
        <mu-row>
            <mu-col width="100">
                <goalForm v-model="goal"/>
                <mu-raised-button label="Create" @click="createGoal(goal)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import goalForm from './_form.vue'
  export default{
    data () {
      return {
        goal: {}
      }
    },
    components: {
      goalForm
    },
    methods: {
      close () {
        this.$emit('close')
        this.$emit('cancel')
      },
      createGoal (goal) {
        console.log('create goal', goal)
        this.$store.dispatch('goalStore/addItem', goal)
        this.goal = {id: null, name: '', description: ''}
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
