<template>
    <div>
        <div>Edit goal</div>
        <mu-row>
            <mu-col width="100">
                <goalForm v-model="goal"/>
                <mu-raised-button label="Update" @click="updateGoal(goal)" primary/>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
  import goalForm from './_form.vue'
  export default{
    props: ['id'],
    data () {
      let goal = this.$store.getters['goalStore/getById'](this.id)
      return {
        goal
      }
    },
    components: {
      goalForm
    },
    methods: {
      updateGoal (goal) {
        this.$store.dispatch('goalStore/updateItem', goal)
        this.$emit('cancel')
      }
    }
  }
</script>
