<template>
    <div>
        <div>this is Goals list</div>
        <entityTable :list="list" @deleteItem="deleteGoal" @selectItem="selectGoal">
            <template slot-scope="props">
                <mu-icon-button :to="{ name: 'start.goals.edit', params: {id: props.item.id}}" icon="list"/>
            </template>
        </entityTable>
    </div>
</template>
<script>
  import entityTable from '../../pan/entityTable'
  export default{
    components: {
      entityTable
    },
    computed: {
      list: function () {
        return this.$store.state['goalStore'].list
      }
    },
    methods: {
      deleteGoal (goal) {
        this.$store.dispatch('goalStore/deleteItem', goal)
      },
      selectGoal (goal) {
        this.$emit('selectGoal', goal)
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    created: function () {
      this.$store.dispatch('goalStore/getList')
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
