<template>
  <div>
    <mu-checkbox label="tasks" v-model="showTasks"/>
    <mu-checkbox label="goals" v-model="showGoals"/>
    <mu-checkbox label="steps" v-model="showSteps"/>
    <!--<mu-checkbox label="showCal" v-model="showCal"/>-->
    <div v-if="showCal">
      <full-calendar
        :events="entities"
        locale="en"
        @eventClick="clicked"
        @dayClick="createEntity"
      >
      </full-calendar>
    </div>

  </div>
</template>

<script>

  export default {
    data () {
      return {
        showCal: true,
        showTasks: false,
        showGoals: false,
        showSteps: false
      }
    },
    methods: {
      clicked (event) {
        this.$store.dispatch('createAndEditModals/openModal', {id: event.entityId, model: event.type, type: 'edit'})
      },
      createEntity (event, f) {
        console.log(event, f)
      }
    },
    computed: {
      entities () {
        let res = []
        if (this.showTasks) {
          this.tasks.map(task => {
            res.push(task)
          })
        }
        if (this.showGoals) {
          this.goals.map(goal => {
            res.push(goal)
          })
        }
        if (this.showSteps) {
          this.steps.map(step => {
            res.push(step)
          })
        }
        return res
      },
      tasks () {
        let taskList = this.$store.getters['taskStore/getFiltered']
        let t2 = taskList.map(task => {
          return {
            entityId: task.id,
            title: 'task: ' + task.name,
            start: task.start,
            end: task.end,
            type: 'task'
          }
        })
        return t2
      },
      goals () {
        return this.$store.getters['goalStore/getFiltered'].map(goal => {
          return {
            entityId: goal.id,
            type: 'goal',
            title: 'goal: ' + goal.name,
            start: this.$moment(goal.start).format('YYYY-MM-DD'),
            end: this.$moment(goal.end).format('YYYY-MM-DD')
          }
        })
      },
      steps () {
        let steps = []
        this.$store.getters['goalStore/getFiltered'].map(goal => {
          goal.steps.map(step => {
            steps.push(step)
          })
        })
        return steps.map(step => {
          return {
            entityId: step.id,
            type: 'step',
            title: 'step: ' + step.name,
            start: this.$moment(step.start).format('YYYY-MM-DD'),
            end: this.$moment(step.end).format('YYYY-MM-DD')
          }
        })
      }
    }
  }
</script>
<style>

</style>
