<template>
    <div>
        <div>this is template body</div>
        <Calendar/>
    </div>
</template>

<script>
  import Calendar from '@/components/general/Calendar/full.vue'
  export default {
    components: {
      Calendar
    }
  }
</script>
