<template>
    <div>
        <mu-row v-if="context">
            <mu-col width="100">
                <mu-text-field @input="changeContext" label="name" v-model="context.name" labelFloat/>
                <br/>
                <mu-text-field @input="changeContext" label="description" v-model="context.description" labelFloat/>
                <br/>
                <mu-select-field @input="changeContext" v-model="context.color" label="color">
                    <mu-menu-item value="#ccc" class="lbGray" title="Gray"/>
                    <mu-menu-item value="#c00" class="lbRed" title="red"/>
                    <mu-menu-item value="#0c0" class="lbGreen" title="green"/>
                    <mu-menu-item value="#00c" class="lbBlue" title="blue"/>
                    <mu-menu-item value="#aadd00" class="lbYellow" title="yellow"/>
                </mu-select-field>
                <br>
                <mu-switch @input="changeContext" label="Hidden" v-model="context.hidden" /><br/>
                <br>
            </mu-col>
        </mu-row>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let context = this.value
      return {
        context
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeContext: function () {
        console.log('form: task changed, emitting input event')
        this.$emit('input', this.context)
      }
    }
  }
</script>
