<template>
    <div>
        <div>create context</div>
        <contextForm v-model="context"/>
        <mu-raised-button label="Create" @click="createContext(context)" primary/>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>
<style>

</style>
<script>
  import contextForm from './_form.vue'
  export default{
    data () {
      return {
        context: {}
      }
    },
    components: {
      contextForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createContext (context) {
        this.$store.dispatch('contextStore/addItem', context)
        this.context = {id: null, name: '', description: ''}
        this.$emit('close')
        this.$emit('cancel')
      }

    }
  }
</script>
