<template>
    <mu-row>
        <mu-col width="100">
            <mu-text-field label="name"  @input="changeBlock" v-model="block.name" labelFloat/>
            <br/>
            <mu-text-field label="description"  @input="changeBlock" v-model="block.description" labelFloat/>
            <br/>
            <mu-time-picker v-model="block.start"  @input="changeBlock" okLabel="Set" cancelLabel="cancel" hintText="start" format="24hr"/>
            <br/>
            <mu-time-picker v-model="block.end"  @input="changeBlock" hintText="end" okLabel="Set" cancelLabel="cancel" format="24hr"/>
            <br/>
        </mu-col>
    </mu-row>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let block = this.value
      return {
        block
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeBlock: function () {
        this.$emit('input', this.block)
      }
    }
  }
</script>
