<template>
    <div>
        <blockForm v-model="block"/>
        <mu-raised-button label="Create" @click="createBlock(block)" primary/>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import blockForm from './_form.vue'
  export default{
    data () {
      return {
        block: {}
      }
    },
    components: {
      blockForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createBlock (block) {
        if (!this.$Provider.modules.helpers.validateBlockRange(block.start, block.end)) {
          this.$store.dispatch('addError', 'wrong time')
          return false
        }
        this.$store.dispatch('blockStore/addItem', block)
        this.block = {id: null, name: '', description: ''}
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
