<template>
  <div class="InnerCreate">
    <div class="InnerCreate-title">
      {{title}}
    </div>
    <div class="InnerCreate-form">
      <component
        :is="formComponent"
        v-model="item"
      />
    </div>
    <div class="InnerCreate-buttons">
      <button @click="doCreate">Create</button>
      <button @click="cancelCreate">Cancel</button>
    </div>
  </div>
</template>

<script>
  import CreateMixin from '../Mixins/CreateMixin'
  export default {
    mixins: [CreateMixin]
  }
</script>

<style lang="scss">
  .InnerCreate {
    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
