<template>
  <div class="InnerEdit">
    <div class="InnerEdit-header">
      Edit: {{name}}
    </div>
    <component
      :is="formComponent"
      v-model="updatedItem"
    />
    <div class="InnerEdit-buttons">
      <slot name="buttons">
        <button @click="close">Cancel</button>
        <button @click="update">Update</button>
      </slot>
    </div>
  </div>
</template>

<script>
  import EditMixin from '../Mixins/EditMixin'
  export default {
    mixins: [EditMixin]
  }
</script>

<style lang="scss">
  .InnerEdit {
    &-buttons {
      display: flex;
      flex-direction: row-reverse;
      button {
        margin: 0 2px 0 2px;
      }
    }
  }
</style>
