<template>
  <div class="entityCrudPage">
    <p>{{this.entityName}}</p>
    <CreateButton :model-name="this.entityName" />
    <hr>
    <EntityList
      :list="list"
    />
  </div>
</template>

<script>

  import {DataModelsRepository} from '@/util/data/provider/DataModels/DataModelsRepository'
  import CreateButton from '@/components/resources/pan/buttonsPartials/createButton'
  import EntityList from './List'
  export default {
    props: {
      entityName: {
        default: 'task'
      }
    },
    data () {
      return {
        list: []
      }
    },
    computed: {
      dataModel () {
        return DataModelsRepository.model[this.entityName]
      }
    },
    methods: {
      fetchList () {
        return this.dataModel.fetchList()
      },
      createItem (item) {
        this.dataModel.add(item)
      },
      updateItem (item) {
        this.dataModel.update(item)
      },
      removeItem (item) {
        this.dataModel.remove(item)
      }
    },
    mounted () {
      this.fetchList()
        .then(resp => {
          console.log('resp', resp)
          this.list = resp
        })
        .catch(e => {
          console.log('crud error: ', e)
        })
    },
    components: {
      CreateButton,
      EntityList
    }
  }
</script>

<style lang="scss">
  .entityCrudPage {
  }
</style>
