<template>
  <div class="Form">
    <input type="text" v-model="value.name">
  </div>
</template>

<script>
  import FormMixin from '../Mixins/FormMixin'
  export default {
    mixins: [FormMixin]
  }
</script>

<style lang="scss">
  .Form {
  }
</style>
