<template>
  <div class="CrudList">
    <div class="CrudList-list">
      <component
        :is="ItemComponent"
        v-for="item, index in list"
        :key="index"
        :item="item"
        @view="viewItem"
        @edit="editItem"
        @remove="removeItem"
      />
    </div>
  </div>
</template>

<script>
  import ListMixin from '../Mixins/ListMixin'

  export default {
    mixins: [ListMixin]
  }
</script>

<style lang="scss">
  .CrudList {

  }

</style>
