<template>
  <div class="ListItem">
    <div class="ListItem-name">
      <slot name="itemName">
        {{name}}
      </slot>
    </div>
    <div class="ListItem-buttons">
      <slot name="itemButtons">
        <button @click="view">View</button>
        <button @click="edit">Edit</button>
        <button @click="remove">Delete</button>
      </slot>
    </div>
  </div>
</template>

<script>
  import ItemMixin from '../Mixins/ItemMixin'
  export default {
    mixins: [ItemMixin]
  }
</script>

<style>
  .ListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px 0 5px 0;
  }
</style>
