<template>
  <div class="InnerView">
    <div class="InnerView-header">
      {{name}}
    </div>
    <div class="InnerView-buttons">
      <slot name="buttons">
        <button @click="close">Close</button>
        <button @click="edit">Edit</button>
        <button @click="doRemove">Delete</button>
      </slot>
    </div>
  </div>
</template>

<script>
  import ViewMixin from '../Mixins/ViewMixin'
  export default {
    name: 'inner-view',
    mixins: [ViewMixin]
  }
</script>

<style lang="scss">
  .InnerView {
    &-buttons {
      display: flex;
      flex-direction: row-reverse;
      button {
        margin: 0 2px 0 2px;
      }
    }
  }
</style>
