<template>
    <div>
        <mu-raised-button icon="keyboard_backspace" primary label="Back to routines list"
                          :to="{name: 'start.routines'}"/>
        <div v-if="routine">
            <p>name: {{routine.name}}</p>
            <p>description: {{routine.description}}</p>
        </div>
    </div>
</template>
<style>

</style>
<script>
  import choresList from '../../../components/resources/specific/routines/chores/list.vue'
  import choreEdit from '../../../components/resources/specific/routines/chores/edit.vue'

  export default {
    data () {
      return {
        pickedChore: {name: null},
        showCreate: false,
        showEdit: false,
        routine: null
      }
    },
    methods: {
      selectChore (choreId) {
        this.pickedChore = choreId
        this.showCreate = false
        this.showEdit = true
      },
      close: function () {
        this.pickedChore = {name: null}
        this.showCreate = false
        this.showEdit = false
      },
      openCreate () {
        this.showCreate = true
      },
      getRoutine () {
        console.log('catched')
        this.$Provider.modules.routines.actions().getById(this.$route.params.id).then(routine => {
          this.routine = routine
        })
      }
    },
    components: {
      choresList,
      choreEdit
    },
    created () {
      this.getRoutine()
    }
  }
</script>
