<template>
    <div>
        <routinesList @selectRoutine="selectRoutine" />

    </div>
</template>
<style>

</style>
<script>
  import routinesList from '../../../components/resources/specific/routines/list.vue'

  export default{
    data () {
      return {
        pickedRoutine: {name: null},
        showCreate: false,
        showEdit: false,
        previewedRoutine: null,
        previewRoutine: false
      }
    },
    methods: {
      selectRoutine (routineId) {
        console.log('routineId')
        console.log(routineId)
        this.pickedRoutine = routineId
        this.showCreate = false
        this.showEdit = true
      },
      openCreate () {
        this.showCreate = true
      }
    },
    components: {
      routinesList
    }
  }
</script>
