<template>
    <div>
        <rItemsList @selectRItem="selectRItem"/>

        <FullModal :open="showCreate" title="Edit rItem" @close="close">
            <rItemCreate @close="close"/>
        </FullModal>
        <FullModal :open="showEdit" title="Edit rItem" @close="close">
            <rItemEdit :selected="pickedRItem"  v-if="pickedRItem" @updateRItem="close"/>
        </FullModal>
        <mu-icon-button @click="openCreate" v-if="!showCreate" tooltip="create" tooltipPosition="top-center" icon="add"/>
    </div>
</template>
<style>

</style>
<script>
  import rItemsList from '../../../components/resources/specific/stacks/stackitem/list.vue'
  import rItemEdit from '../../../components/resources/specific/stacks/stackitem/edit.vue'
  import rItemCreate from '../../../components/resources/specific/stacks/stackitem/create.vue'
  export default{
    data () {
      return {
        pickedRItem: {name: null},
        showCreate: false,
        showEdit: false
      }
    },
    methods: {
      selectRItem (rItemId) {
        this.pickedRItem = rItemId
        this.showCreate = false
        this.showEdit = true
      },
      close: function () {
        this.pickedRItem = {name: null}
        this.showCreate = false
        this.showEdit = false
      },
      openCreate () {
        this.showCreate = true
      }
    },
    components: {
      rItemsList,
      rItemEdit,
      rItemCreate
    },
    created () {
      console.log('stack edit')
    }
  }
</script>
