<template>
    <div>
        <p>between this</p>
        <stacksList @selectStack="selectStack"/>

        <FullModal :open="showCreate" title="Edit stack" @close="close">
            <stackCreate @close="close"/>
        </FullModal>
        <FullModal :open="showEdit" title="Edit stack" @close="close">
            <stackEdit :selected="pickedStack"  v-if="pickedStack" @updateStack="close"/>
        </FullModal>
        <p>and this, there are some weird stuff happening</p>
        <mu-icon-button @click="openCreate" v-if="!showCreate" tooltip="create" tooltipPosition="top-center" icon="add"/>
    </div>
</template>
<style>

</style>
<script>
  import stacksList from '../../../components/resources/specific/stacks/list.vue'
  import stackEdit from '../../../components/resources/specific/stacks/edit.vue'
  import stackCreate from '../../../components/resources/specific/stacks/create.vue'
  export default{
    data () {
      return {
        pickedStack: {name: null},
        showCreate: false,
        showEdit: false
      }
    },
    methods: {
      selectStack (stackId) {
        this.pickedStack = stackId
        this.showCreate = false
        this.showEdit = true
      },
      close: function () {
        this.pickedStack = {name: null}
        this.showCreate = false
        this.showEdit = false
      },
      openCreate () {
        this.showCreate = true
      }
    },
    components: {
      stacksList,
      stackEdit,
      stackCreate
    },
    mounted () {
      console.log('list is mounted')
    }
  }
</script>
