<template>
  <div class="ChangeStatus">
    <mu-raised-button
      v-for="status, index in pendingArray"
      @click="setStatus(status)"
      :label="status"
      :key="status" primary/>
    <br>
    <mu-raised-button
      v-for="status, index in completedArray"
      @click="setStatus(status)" :label="status"
      :key="status" secondary/>
  </div>
</template>

<script>
  import { COMPLETED_ARRAY, PENDING_ARRAY } from '@/util/data/provider/DataModels/Constants'
  export default {
    name: 'change-status',
    props: ['entity'],
    data () {
      return {
        completedArray: COMPLETED_ARRAY,
        pendingArray: PENDING_ARRAY
      }
    },
    methods: {
      setStatus (status) {
        let newEntity = {...this.entity}
        newEntity.status = status
        this.$store.dispatch(this.entity.modelName + 'Store/updateItem', newEntity)
      }
    }
  }
</script>

<style lang="scss">
  .ChangeStatus {
  }
</style>
