<template>
    <div class="DisplayDates">
        <div class="DisplayDates-noDates" v-if="noDates">no dates</div>
        <div class="DisplayDates-start" v-if="!noDates">start: {{start}}</div>
        <div class="DisplayDates-end" v-if="!noDates">end: {{end}}</div>
    </div>
</template>

<script>
  import moment from 'moment'

  export default {
    props: ['entity'],
    data () {
      return {
        msg: 'hello vue'
      }
    },
    computed: {
      noDates () {
        return !this.entity.start || !this.entity.end
      },
      start () {
        if (!this.noDates) {
          return moment(this.entity.start).format('YYYY-MM-DD')
        }
      },
      end () {
        if (!this.noDates) {
          return moment(this.entity.end).format('YYYY-MM-DD')
        }
      }
    }
  }
</script>
<style lang="stylus">
    .DisplayDates
        display: flex
        flex-direction: column
        background-color #b7f7ea
        color #3f3f3f
        &-start, &-end
            display: block

</style>
