<template>
    <div class="DisplayFilters">

        <div class="DisplayFilters-row" v-if="blocks">
            <div class="DisplayFilters-rowHeader">
                blocks
            </div>
            <div class="DisplayFilters-item" v-for="block in blocks" :key="block.id">
                {{block.name}}
            </div>
        </div>
        <div class="DisplayFilters-row" v-if="contexts">
            <div class="DisplayFilters-rowHeader">
                contexts
            </div>
            <div class="DisplayFilters-item" v-for="context in contexts" :key="context.id">
                {{context.name}}
            </div>
        </div>
        <div class="DisplayFilters-row" v-if="projects">
            <div class="DisplayFilters-rowHeader">
                projects
            </div>
            <div class="DisplayFilters-item" v-for="project in projects" :key="project.id">
                {{project.name}}
            </div>
        </div>
        <div class="DisplayFilters-row" v-if="moods">
            <div class="DisplayFilters-rowHeader">
                moods
            </div>
            <div class="DisplayFilters-item" v-for="mood in moods" :key="mood.id">
                {{mood.name}}
            </div>
        </div>
        <div class="DisplayFilters-row" v-if="categories">
            <div class="DisplayFilters-rowHeader">
                categories
            </div>
            <div class="DisplayFilters-item" v-for="category in categories" :key="category.id">
                {{category.name}}
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['entity'],
    data () {
      return {
        msg: 'hello vue'
      }
    },
    computed: {
      blocks () {
        if (this.entity && this.entity.blocks.length) {
          return this.entity.blocks
        }
        return null
      },
      categories () {
        if (this.entity && this.entity.categories.length) {
          return this.entity.categories
        }
        return null
      },
      moods () {
        if (this.entity && this.entity.moods.length) {
          return this.entity.moods
        }
        return null
      },
      projects () {
        if (this.entity && this.entity.projects.length) {
          return this.entity.projects
        }
        return null
      },
      contexts () {
        if (this.entity && this.entity.contexts.length) {
          return this.entity.contexts
        }
        return null
      }
    }
  }
</script>
<style lang="stylus" scoped>
    .DisplayFilters
        &-row
            display: block
            float: left
            width: 100%
            background-color #a4f7ab
            margin-top: 3px
            padding: 3px
        &-item
            display: block
            float: left
            border: 1px solid darkslateblue
            background-color #002d6e
            color: whitesmoke
            font-size: 12px
            margin-right: 5px
            margin-top: 5px
            padding 0 3px 0 3px
            border-radius 5px
        &-rowHeader
            font-size: 12px

</style>
