<template>
  <div class="filtersField">
    <p>contexts</p>
    <multiselect
      v-model="value.contexts"
      :options="filters.contexts"
      :multiple="true"
      track-by="id"
      :custom-label="customLabel"
      @input="changed"
    >
    </multiselect>
    <p>categories</p>
    <multiselect
      v-model="value.categories"
      :options="filters.categories"
      :multiple="true"
      track-by="id"
      :custom-label="customLabel"
      @input="changed"
    >
    </multiselect>
    <p>blocks</p>
    <multiselect
      v-model="value.blocks"
      :options="filters.blocks"
      :multiple="true"
      track-by="id"
      :custom-label="customLabel"
      @input="changed"
    >
    </multiselect>
    <p>projects</p>
    <multiselect
      v-model="value.projects"
      :options="filters.projects"
      :multiple="true"
      track-by="id"
      :custom-label="customLabel"
      @input="changed"
    >
    </multiselect>
    <p>moods</p>
    <multiselect
      v-model="value.moods"
      :options="filters.moods"
      :multiple="true"
      track-by="id"
      :custom-label="customLabel"
      @input="changed"
    >
    </multiselect>


  </div>
</template>

<script>
  import multiselect from 'vue-multiselect'
  export default {
    name: 'filters-field',
    props: ['value'],
    data () {
      return {
      }
    },
    computed: {
      filters: function () {
        return this.$store.getters['filterStore/allFilters']
      },
      preparedContexts () {
        return this.value.contexts.map(context => {
          return context.name
        })
      }
    },
    methods: {
      changed: function () {
        this.$emit('input', this.value)
      },
      customLabel (option) {
        return `${option.name}`
      }
    },
    components: {
      multiselect
    }
  }
</script>

<style lang="scss">
  @import "../../../../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css";
  .filtersField {
  }
</style>
