
<template>
    <div class="EntityStatus">
        <div class="EntityStatus-complete" v-if="isComplete">
            <p>{{entity.status}}</p>
        </div>
        <div class="EntityStatus-pending" v-if="isPending">
            <p>{{entity.status}}</p>
        </div>
    </div>
</template>

<style lang="stylus">
    .EntityStatus
        color black
        &-complete
            background-color #49e65e
        &-pending
            background-color #ff728c
</style>
<script>
  export default {
    props: ['entity'],
    data () {
      return {
        msg: 'hello vue'
      }
    },
    computed: {
      isComplete () {
        return this.entity.isComplete()
      },
      isPending () {
        return this.entity.isPending()
      }
    }
  }
</script>
