<template>
  <div class="twoLists">
    <checklistsListBlueprint @selectChecklist="selectChecklist"/>
    <checklistslistRunning @selectChecklist="selectChecklist"/>
    <mu-icon-button @click="openCreate" v-if="!showCreate" tooltip="create" tooltipPosition="top-center" icon="add"/>
  </div>
</template>

<script>
  import checklistsListBlueprint from '@/components/resources/specific/checklists/listBlueprint.vue'
  import checklistslistRunning from '@/components/resources/specific/checklists/listRunning.vue'
  import checklistEdit from '@/components/resources/specific/checklists/edit.vue'
  import checklistCreate from '@/components/resources/specific/checklists/create.vue'
  export default {
    data () {
      return {
        pickedChecklist: {name: null},
        showCreate: false,
        showEdit: false
      }
    },
    methods: {
      selectChecklist (checklistId) {
        this.pickedChecklist = checklistId
        this.$store.dispatch('createAndEditModals/openModal', {id: checklistId, type: 'edit', model: 'checklist'})
      },
      close: function () {
        this.pickedChecklist = {name: null}
        this.showCreate = false
        this.showEdit = false
      },
      openCreate () {
        this.$store.dispatch('createAndEditModals/openModal', {id: null, type: 'create', model: 'checklist'})
      }
    },
    components: {
      checklistsListBlueprint,
      checklistslistRunning,
      checklistEdit,
      checklistCreate
    }
  }
</script>

<style lang="scss">
  .twoLists {
  }
</style>
