<template>
  <div class="UpDownButtons">
    <mu-raised-button label="Up" @click="moveUp"/>
    <mu-raised-button label="Down" @click="moveDown"/>
  </div>
</template>

<script>
  export default {
    props: ['point'],
    methods: {
      moveUp () {
        let upPoint = this.point
        upPoint.order = upPoint.order + 1
        this.$store.dispatch('pointStore/updateItem', upPoint)
      },
      moveDown () {
        let downPoint = this.point
        downPoint.order = downPoint.order - 1
        this.$store.dispatch('pointStore/updateItem', downPoint)
      }
    }
  }
</script>

<style lang="scss">
  .UpDownButtons {
  }
</style>
