<template>
    <div>
        <component :is="currentView">
            <router-view></router-view>
        </component>
    </div>
</template>

<script>
  import DefaultLayout from './layout/default'
  import bootstrap from './layout/bootstrap'
  import { mapState } from 'vuex'
  export default {
    name: 'app',
    data () {
      return {
        login: {
          value: '1',
          email: 'test@test.com',
          password: 'testtest'
        },
        currentView: 'default'
      }
    },
    computed: {
      ...mapState({
        userStore: state => state.userStore
      }),
      links: function () {
        let links = []
        for (let resource of this.$resourcesCollection.resources) {
          links.push(resource.name)
        }
        return links
      }
    },
    created () {
      const authUser = JSON.parse(window.localStorage.getItem('authUser'))
      this.$store.dispatch('setUserObject', authUser)
    },
    methods: {
      handleChange (value) {
        this.value = value
      }
    },
    components: {
      default: DefaultLayout,
      bootstrap: bootstrap
    }
  }
</script>

<style lang="scss">
    /*@import "assets/css/bootstrap.css";*/

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
