<template>
  <div>
    <div class="RoutineForm">
      <div class="RoutineForm-baseFields">
        <mu-text-field @input="changeRoutine" label="name" v-model="routine.name" labelFloat/>
        <br/>
        <mu-text-field @input="changeRoutine" label="description" v-model="routine.description" labelFloat/>
        <br>
        <Datepicker @input="changeRoutine" v-model="routine.start" title="start time"/>
        <Datepicker @input="changeRoutine" v-model="routine.lastComplete" title="last Complete"/>
        <br>
      </div>
      <div class="input-field">
        <input type="text" id="text" v-model="routine.schedule">
          <RoutineHelper
            :routine="routine"
            :text="routine.schedule"
          />
        <a href="https://codepen.io/antonlydike/full/KgygpA" target="_blank">
          <small>parser</small>
        </a>
        <a href="https://bunkat.github.io/later/parsers.html#text" target="_blank">
          <small>docs</small>
        </a>
      </div>

      <Panel title="filters" :open="false">
        <FiltersField @input="changeRoutine" v-model="routine"/>
      </Panel>
    </div>
  </div>
</template>
<script>
  import RoutineHelper from './RoutineHelper'
  export default {
    props: ['value'],
    components: {
      RoutineHelper
    },
    data () {
      let routine = this.value
      return {
        routine
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeRoutine: function () {
        this.$emit('input', this.routine)
      },
      setDefault () {
        this.routine.shed = this.routine.shedule ? this.routine.shedule : 'every 15 min'
      }
    }
  }
</script>

<style lang="scss">
  @import "../../../../assets/sass/main";
  .RoutineForm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    border: black 5px dashed;
    .Panel-header {
      height: 20px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    > * {
      border: 1px red solid;
    }
  }

</style>
