<template>
  <div>
    <div>create routine</div>
    <mu-row>
      <mu-col width="100">
        <routineForm v-model="routine"/>
        <mu-raised-button label="Create" @click="createRoutine(routine)" primary/>
      </mu-col>
    </mu-row>
    <mu-icon-button tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
  </div>
</template>

<script>
  import routineForm from './_form.vue'
  import RoutineModel from '@/util/data/provider/DataModels/Routines/RoutineModel'

  export default {
    data () {
      return {
        routine: {...RoutineModel}
      }
    },
    components: {
      routineForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createRoutine (routine) {
        this.$store.dispatch('routineStore/addItem', routine)
        this.routine = {id: null, name: '', description: ''}
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
