<template>
  <div>
    <div>Edit routine</div>
    <mu-row>
      <mu-col width="100">
        <routineForm v-model="routine"/>
        <mu-raised-button label="Update" @click="updateRoutine(routine)" primary/>
      </mu-col>
    </mu-row>
  </div>
</template>

<script>
  import routineForm from './_form.vue'

  export default {
    props: ['id'],
    data () {
      let routine = this.$store.getters['routineStore/getById'](this.id)
      return {
        routine
      }
    },
    components: {
      routineForm
    },
    methods: {
      updateRoutine (routine) {
        this.$store.dispatch('routineStore/updateItem', routine)
        this.$emit('updateRoutine', routine)
        this.$emit('cancel')
      }
    }
  }
</script>
