<template>
  <div class="RoutineHelper">
    <p class="RoutineHelper-text">
      shedule text: <br>
      <span :class="{'RoutineHelper-hasNoError': isValidSchedule}">{{text}}</span>
    </p>
    <div class="RoutineHelper-info">
      <div class="RoutineHelper-occurrences" v-if="isValidSchedule">
        <div class="RoutineHelper-occHeader" @click="toggleShowOccurrences">
          Show occurrences
        </div>
        <div class="RoutineHelper-occList" v-if="showOccurrences">
          <p v-for="occ, index in occurrences" :key="index">{{ occ }}</p>
        </div>
      </div>
      <div class="RoutineHelper-marks" v-if="hasMarks">
        <div class="RoutineHelper-marksHeading" @click="toggleShowMarks">
          marks
        </div>
        <div class="RoutineHelper-marksList" v-if="showMarks">
          <p>{{routine.start}}</p>
          <p>{{routine.lastComplete}}</p>
        </div>
      </div>
      <div class="RoutineHelper-status" v-if="hasMarks">
        <div class="RoutineHelper-statusHeading" @click="toggleShowStatus">
          status
        </div>
        <div class="RoutineHelper-statusText" v-if="showStatus">
          <p>
            Status being calculated by computing
            if there occurrences from last complete
            and today.
            {{routine.getStatus()}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import later from 'later'

  export default {
    props: ['routine', 'text'],
    data () {
      return {
        showOccurrences: false,
        showMarks: false,
        showStatus: false
      }
    },
    computed: {
      latSchedule () {
        if (!this.text) {
          return ''
        }
        return later.parse.text(this.text)
      },
      occurrences () {
        return later.schedule(this.latSchedule).next(5)
      },
      // Service
      // if entered text is validschedule
      isValidSchedule () {
        return this.latSchedule.error === -1
      },
      hasMarks () {
        return this.routine.start && this.routine.lastComplete
      }
    },
    methods: {
      toggleShowOccurrences () {
        this.showOccurrences = !this.showOccurrences
      },
      toggleShowMarks () {
        this.showMarks = !this.showMarks
      },
      toggleShowStatus () {
        this.showStatus = !this.showStatus
      }
    }
  }
</script>

<style lang="scss">
  .RoutineHelper {
    width: 260px;
    p {
      margin: 1px;
    }
    &-hasNoError {
      color: green;
      font-weight: bold;
    }
    &-text {
      font-size: 12px;
      span {
        font-size: 16px;
      }
    }
    &-info {
      width: 100%;
    }
    &-occurrences {
      border: 1px hotpink solid;
    }
    &-occList {
      border: 1px pink dashed;
    }
    &-marks {
      border: 1px green solid;
    }
    &-status {
      border: 1px blue solid;
    }
  }
</style>
