<template>
    <div>
        <mu-text-field @input="changePoint" label="name" v-model="point.name" labelFloat/>
        <br/>
        <mu-text-field @input="changePoint" label="description" v-model="point.description" labelFloat/>
        <br/>
        <statusSelect v-model="point.status" @input="changePoint"/>
        <br>
        <mu-text-field @input="changePoint" label="order" v-model="point.order" labelFloat/>
    </div>
</template>
<style>

</style>
<script>
  import statusSelect from '@/components/resources/pan/statusSelect'

  export default {
    props: ['value'],
    components: {
      statusSelect
    },
    data () {
      let point = this.value
      return {
        point
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changePoint: function () {
        this.$emit('input', this.point)
      }
    }
  }
</script>
