<template>
    <div>
        <div>create point</div>
        <mu-row>
            <mu-col width="100">
                <pointForm v-model="point"/>
                <mu-raised-button label="Create" @click="createPoint(point)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import pointForm from './_form.vue'

  export default {
    props: ['parentId'],
    data () {
      return {
        point: {
          status: 'Pending'
        }
      }
    },
    components: {
      pointForm
    },
    methods: {
      close () {
        this.$emit('close')
        this.$emit('cancel')
      },
      createPoint (point) {
        point.checklistId = this.parentId
        this.$store.dispatch('pointStore/addItem', point)
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
