<template>
    <div>
        <div>Edit point</div>
        <mu-row v-if="point">
            <mu-col width="100">
                <pointForm v-model="point"/>
                <mu-raised-button label="Update" @click="updatePoint(point)" primary/>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
  import pointForm from './_form.vue'

  export default {
    props: ['id'],
    data () {
      let point = null
      return {
        point
      }
    },
    components: {
      pointForm
    },
    methods: {
      updatePoint () {
        this.$store.dispatch('pointStore/updateItem', this.point)
        this.$emit('close')
        this.$emit('cancel')
      }
    },
    mounted () {
      this.$Provider.modules.checklists.actions().getPointById(this.id).then(r => {
        this.point = {...r}
      })
    }
  }
</script>
