<template>
  <div>
    <mu-raised-button icon="keyboard_backspace" primary label="Back to ckelists list"
                      :to="{name: 'start.checklists'}"/>
    <p>name:</p>
    <p>{{checklist.name}}</p>
    <p>description:</p>
    <p>{{checklist.description}}</p>
    <mu-table :showCheckbox="false" style="width: 100%">
      <mu-thead>
        <mu-tr>
          <mu-th>name</mu-th>
          <mu-th>actions</mu-th>
        </mu-tr>
      </mu-thead>
        <mu-tr v-for="item in list" :key="item.id">
          <mu-td>
            [ {{item.order}} ]: {{item.name}}
            <p>&nbsp;{{item.description}}</p>
          </mu-td>
          <mu-td>
            <mu-icon-button @click="deletePoint(item)" tooltip="delete" icon="delete"
                            tooltipPosition="top-center"/>
            <mu-icon-button @click="selectPoint(item.id)" tooltip="select" icon="code"
                            tooltipPosition="top-center"/>
            <mu-icon-button @click="pointUp(item)" tooltip="order up" icon="arrow_downward"
                            tooltipPosition="top-center"/>
            <mu-icon-button @click="pointDown(item)" tooltip="order down" icon="arrow_upward"
                            tooltipPosition="top-center"/>
          </mu-td>
        </mu-tr>
    </mu-table>
  </div>
</template>
<style>

</style>
<script>
  import entityTable from '../../../reusable/entityTable'

  export default {
    components: {
      entityTable
    },
    computed: {
      checklist () {
        return this.$store.getters['checklistStore/getById'](this.$route.params.id)
      }
    },
    methods: {
      deletePoint (point) {
        this.$Provider.modules.checklists.actions().removePoint(point).then(r => {
          this.updateList()
        })
      },
      selectPoint (point) {
        this.$emit('selectPoint', point)
      },
      updateList () {
        console.log('point list create')
        this.$Provider.modules.checklists.actions().fetchChecklistPoints(this.$route.params.id).then(r => {
          this.list = r.map(item => {
            return {...item}
          })
        })
      },
      pointUp (point) {
        this.$Provider.modules.checklists.actions().pointUp(point).then(r => {
          this.updateList()
        })
      },
      pointDown (point) {
        this.$Provider.modules.checklists.actions().pointDown(point).then(r => {
          this.updateList()
        })
      }
    },
    data () {
      return {
        msg: 'hello vue',
        list: []
      }
    },
    created: function () {
      this.updateList()
    }
  }
</script>
<style lang="scss">
  .transparent {
    opacity: 0.5;
  }
</style>
