<template>
    <div class="ChecklistEditRunning" v-if="checklist">
        <mu-raised-button icon="keyboard_backspace" primary label="Back to ckelists list"
                          :to="{name: 'start.checklists'}"/>
        <h3>{{checklist.name}}</h3>
        <h5>{{checklist.description}}</h5>
        <mu-table :showCheckbox="false" style="width: 100%">
            <mu-tr v-for="item in list" :key="item.id">
                <mu-td class="ChecklistEditRunning-smallColumn">
                    <basicMask :entity="item" @delete="deletePoint">
                        <p slot="header">{{item.name}}</p>
                        <p slot="description">{{item.description}}</p>
                        <div class="ChecklistEditRunning-state" slot="customButtons" >
                            <div class="ChecklistEditRunning-order">
                                order: {{item.order}}
                            </div>
                            <div class="ChecklistEditRunning-status">
                                status: {{item.status}}
                            </div>
                        </div>
                        <div class="ChecklistEditRunning-controls" slot="customButtons">
                            <div class="ChecklistEditRunning-buttons">
                                <mu-icon-button @click="deletePoint(item)" tooltip="delete" icon="delete"
                                                tooltipPosition="top-center"/>
                                <mu-icon-button @click="selectPoint(item.id)" tooltip="select" icon="code"
                                                tooltipPosition="top-center"/>
                                <mu-icon-button @click="pointUp(item)" tooltip="order up" icon="arrow_downward"
                                                tooltipPosition="top-center"/>
                                <mu-icon-button @click="pointDown(item)" tooltip="order down" icon="arrow_upward"
                                                tooltipPosition="top-center"/>
                                <div class="ChecklistEditRunning-toggle">
                                    <mu-raised-button v-for="status, index in pendingArray"
                                                      @click="setStatus(item, status)"
                                                      :label="status"
                                                      :key="status" primary/>
                                    <br>
                                    <mu-raised-button v-for="status, index in completedArray"
                                                      @click="setStatus(item, status)" :label="status"
                                                      :key="status" secondary/>
                                </div>
                            </div>

                        </div>
                    </basicMask>


                </mu-td>
            </mu-tr>
        </mu-table>
    </div>
</template>
<style>

</style>
<script>
  import entityTable from '@/components/resources/pan/entityTable'
  import { COMPLETED_ARRAY, PENDING_ARRAY } from '@/util/data/provider/DataModels/Constants'

  export default {
    components: {
      entityTable
    },
    computed: {
      checklist () {
        return this.$store.getters['checklistStore/getById'](this.$route.params.id)
      }
    },
    methods: {
      deletePoint (point) {
        console.log('delete point', point)
//        this.$Provider.modules.checklists.actions().removePoint(point).then(r => {
//          this.updateList()
//        })
      },
      selectPoint (point) {
        this.$emit('selectPoint', point)
      },
      someChange (event, item) {
        console.log('some change')
        if (event.moved && event.moved.element) {
          let point = event.moved.element
          point.order = event.moved.newIndex
//          this.$store.dispatch('pointStore/updateItem', point)
          this.$Provider.modules.checklists.actions().updatePoint(point).then(r => {
            this.updateList()
          })
        }
        console.log('order updated')
      },
      updateList () {
        console.log('point list create')
        this.$Provider.modules.checklists.actions().fetchChecklistPoints(this.$route.params.id).then(r => {
          this.list = r.map(item => {
            return {...item}
          })
        })
      },
      pointUp (point) {
        this.$Provider.modules.checklists.actions().pointUp(point).then(r => {
          this.updateList()
        })
      },
      pointDown (point) {
        this.$Provider.modules.checklists.actions().pointDown(point).then(r => {
          this.updateList()
        })
      },
      setStatus (point, status) {
        this.$Provider.modules.checklists.actions().setPointStatus(point.id, status).then(r => {
          this.updateList()
        })
      }
    },
    data () {
      return {
        msg: 'hello vue',
        list: [],
        completedArray: COMPLETED_ARRAY,
        pendingArray: PENDING_ARRAY
      }
    },
    created: function () {
      this.updateList()
    }
  }
</script>
<style lang="scss">
    .ChecklistEditRunning {
        .transparent {
            opacity: 0.5;
        }
        .smallColumn {
            width: 40px;
        }
        .mu-th, .mu-td {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
</style>
