<template>
  <div v-if="checklist">
    <mu-raised-button icon="keyboard_backspace" primary label="Back to ckelists list"
                      :to="{name: 'start.checklists'}"/>
    <mu-raised-button
      icon="add"
      primary
      label="create point"
      @click="createPoint"
    />
    <mu-raised-button
      icon="add"
      primary
      label="update list"
      @click="updateList"
    />
    <p>name:</p>
    <p>{{checklist.name}}</p>
    <p>description:</p>
    <p>{{checklist.description}}</p>
    <mu-table :showCheckbox="false" style="width: 100%">
      <mu-thead>
        <mu-tr>
          <mu-th>name</mu-th>
          <mu-th>actions</mu-th>
        </mu-tr>
      </mu-thead>
      <draggable v-model="list" :options="{group:'people'}" @start="drag=true" @change="someChange"
                 element="tbody">
        <mu-tr v-for="item in list" :key="item.id">
          <mu-td>
            [ {{item.order}} ]: {{item.name}}
            <p>&nbsp;{{item.description}}</p>
          </mu-td>
          <mu-td>
            <mu-icon-button @click="deletePoint(item)" tooltip="delete" icon="delete"
                            tooltipPosition="top-center"/>
            <mu-icon-button @click="selectPoint(item.id)" tooltip="select" icon="code"
                            tooltipPosition="top-center"/>
            <mu-icon-button @click="pointUp(item)" tooltip="order up" icon="arrow_downward"
                            tooltipPosition="top-center"/>
            <mu-icon-button @click="pointDown(item)" tooltip="order down" icon="arrow_upward"
                            tooltipPosition="top-center"/>
          </mu-td>
        </mu-tr>
      </draggable>
    </mu-table>
  </div>
</template>
<style>

</style>
<script>
  import entityTable from '@/components/resources/pan/entityTable'

  export default {
    components: {
      entityTable
    },
    methods: {
      deletePoint (point) {
        this.$Provider.modules.checklists.actions().removePoint(point).then(r => {
          this.updateList()
        })
      },
      selectPoint (point) {
        this.$emit('selectPoint', point)
      },
      someChange (event, item) {
        console.log('some change')
        if (event.moved && event.moved.element) {
          let point = event.moved.element
          point.order = event.moved.newIndex
//          this.$store.dispatch('pointStore/updateItem', point)
          this.$Provider.modules.checklists.actions().updatePoint(point).then(r => {
            this.updateList()
          })
        }
        console.log('order updated')
      },
      updateList () {
        this.$Provider.modules.checklists.actions().getChecklistById(this.$route.params.id).then(rest => {
          console.log(rest)
          let test = rest
          console.log('test')
          console.log(typeof test)
          console.log(test)
          this.checklist = test
        })
        console.log('point list create')
        this.$Provider.modules.checklists.actions().fetchChecklistPoints(this.$route.params.id).then(r => {
          this.list = r.map(item => {
            return {...item}
          })
        })
      },
      pointUp (point) {
        this.$Provider.modules.checklists.actions().pointUp(point).then(r => {
          this.updateList()
        })
      },
      pointDown (point) {
        this.$Provider.modules.checklists.actions().pointDown(point).then(r => {
          this.updateList()
        })
      },
      createPoint () {
        this.$store.dispatch('createAndEditModals/openModal', {id: this.checklist.id, type: 'create', model: 'point'})
      }
    },
    data () {
      return {
        msg: 'hello vue',
        list: [],
        checklist: null
      }
    },
    created: function () {
      this.updateList()
    }
  }
</script>
<style lang="scss">
  .transparent {
    opacity: 0.5;
  }
</style>
