<template>
    <div v-if="task">
        <mu-row>
            <mu-col desktop="50" width="100" tablet="100">
                <mu-text-field label="name" @input="changeTask" v-model="task.name" labelFloat/>
                <mu-text-field label="description" @input="changeTask" v-model="task.description" labelFloat/>
                <Datepicker @input="changeTask" v-model="task.start" title="start time"/>
                <Datepicker @input="changeTask" v-model="task.end" title="end time"/>
            <statusSelect v-model="task.status" @input="changeTask"/>
            </mu-col>
            <FiltersField v-model="task"/>
        </mu-row>

    </div>
</template>
<style>

</style>
<script>
  import statusSelect from '../../pan/statusSelect'
  export default {
    props: ['value'],
    components: {
      statusSelect
    },
    data () {
      let task = this.value
      return {
        task
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeTask: function () {
        console.log('form: task changed, emitting input event')
        this.$emit('input', this.task)
      }
    }
  }
</script>
