<template>
    <div>
        <div>create task<mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/></div>
        <mu-row>
            <mu-col width="100">
                <task-form v-model="task"/>
                <mu-raised-button label="Create" @click="createProject(task)" primary/>
            </mu-col>
        </mu-row>

    </div>
</template>
<style>

</style>
<script>
  import taskForm from './_form.vue'
  export default{
    data () {
      return {
        task: { contexts: [], blocks: [], status: 'Pending' }
      }
    },
    methods: {
      close () {
        this.$emit('close')
        this.$emit('cancel')
      },
      createProject (task) {
        this.$store.dispatch('taskStore/addItem', task)
        this.$emit('close')
        this.$emit('cancel')
      }
    },
    computed: {
      blocks: function () {
        return this.$store.state['blockStore'].list
      }
    },
    components: {
      taskForm
    }
  }
</script>
