<template>
    <div v-if="id">
        <div>Edit task</div>
        <mu-row>
            <mu-col width="100">
                <taskForm v-model="task"/>
                <mu-raised-button label="Update" @click="updateTask(task)" primary/>
                <mu-raised-button label="cancel" @click="cancel" />
            </mu-col>
        </mu-row>
    </div>
</template>
<style>

</style>
<script>
  import taskForm from './_form.vue'

  export default {
    props: ['id'],
    data () {
      console.log('edit: getting task from store')
      let task = this.$store.getters['taskStore/getById'](this.id)
      return {
        task
      }
    },
    methods: {
      updateTask (task) {
        console.log('edit: updateTask called, dispatching action')
        console.log(this.task)
        this.$store.dispatch('taskStore/updateItem', this.task)
        this.$emit('updateTask', task)
        this.$emit('cancel')
      },
      cancel: function () {
        this.$emit('cancel')
      }
    },
    components: {
      taskForm
    }
  }
</script>
