<template>
  <div>
    <h4>Tasks list</h4>
    <CreateButton modelName="task"/>
    <mu-row>
      <mu-col width="100" desktop="100">
        <tasksList :taskList="list" @selectTaskId="editTask"/>
      </mu-col>
    </mu-row>
  </div>
</template>
<style>

</style>
<script>
  import tasksList from './list.vue'

  export default {
    data () {
      return {
        selectedTaskId: null,
        showCreate: false
      }
    },
    methods: {
      editTask (id) {
        this.$store.dispatch('createAndEditModals/openModal', {id, type: 'edit', model: 'task'})
      },
      cancelSelection () {
        this.selectedTaskId = null
      },
      toggleShowCreate () {
        console.log('open create modal')
      }
    },
    computed: {
      list () {
        return this.$store.state.taskStore.list
      }
    },
    components: {
      tasksList
    }
  }
</script>
