<template lang="pug">
  .TaskView
    .TaskView-name {{entity.name}}
</template>

<script>
  export default {
    name: 'task-grid-view',
    props: {
      entity: {
        required: true
      }
    }
  }
</script>

<style lang="stylus">
  .TaskView
    background-color #0c516c
    color: white
    border:1px solid darkgray
    margin-top 5px
    margin-bottom 5px
    padding 5px
    border-radius 5px

</style>
