<template>
    <div>
        <entityTable :list="list" @deleteItem="deleteTask" @selectItem="selectTask"/>
    </div>
</template>
<style>

</style>
<script>
  import entityTable from '../../pan/entityTable'
  export default{
    components: {
      entityTable
    },
    props: {
      taskList: {
        type: Array,
        required: true
      }
    },
    data () {
      let list = this.taskList
      return {
        list
      }
    },
    methods: {
      deleteTask (task) {
        this.$store.dispatch('taskStore/deleteItem', task)
      },
      selectTask (taskId) {
        this.$emit('selectTaskId', taskId)
      }
    },
    watch: {
      taskList: function () {
        this.list = this.taskList
      }
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
