<template>
    <div class="task">
        <div class="description">name: {{task.name}}. <br>description: {{task.description}}</div>
        <p>{{task.start}} - {{task.end}}</p>
        <div v-if="task.category && filtersShow.categories" class="category">
            <div>cateogory:</div>
            <div>name: {{task.category.name}}</div>
            <div>description: {{task.category.description}}</div>
        </div>
        <div v-if="!task.category" class="category">
            <div>no cateogory</div>
        </div>

        <div v-if="(task.blocks.length > 0 && filtersShow.blocks)">
            <div>blocks:</div>
            <div >
                <mu-chip backgroundColor="blue100" v-for="block in task.blocks" :key="block.id" class="demo-chip">
                    {{block.name}}
                </mu-chip>
            </div>
        </div>
        <div v-if="(!task.blocks.length > 0)">
            no blocks
        </div>
        <div v-if="(task.contexts.length > 0) && filtersShow.contexts">
            <div>contexts:</div>
            <div >
                <mu-chip backgroundColor="pink100" v-for="context in task.contexts" :key="context.id" class="demo-chip">
                    {{context.name}}
                </mu-chip>
            </div>
        </div>
        <div v-if="(!task.contexts.length > 0)">
            no contexts
        </div>
        <div v-if="task.mood && filtersShow.moods" class="mood">
            <div>mood:</div>
            <div>name: {{task.mood.name}}</div>
            <div>description: {{task.mood.description}}</div>
        </div>
        <div v-if="!task.mood" class="mood">
            <div>no mood</div>
        </div>
    </div>
</template>
<style scoped lang="scss">
    .task {
        border: 2px lightslategray solid;
        margin-bottom: 5px;
        padding: 2px;
        width: 300px;
        float: left;

    }
</style>
<script>
  export default{
    props: ['task'],
    data () {
      return {
        msg: 'hello vue'
      }
    },
    methods: {
    },
    computed: {
      filtersShow: function () {
        return this.$store.state.filterStore.unitSettings.show
      }
    }
  }
</script>
