<template lang="pug">
  .DefaultEntity
    .DefaultEntity-name {{entity.name}}
  </div>
</template>

<script>
  export default {
    name: 'entity-grid-view-default',
    props: {
      entity: {
        required: true
      }
    }
  }
</script>

<style lang="stylus">
  .DefaultEntity
    background-color #005709
    color: white
    border:1px solid darkgray
    margin-top 5px
    margin-bottom 5px
    padding 5px
    border-radius 5px
</style>
