<template>
  <div class="EntityGridView">
    <component :is="entityType" :entity="entity"></component>
  </div>
</template>

<script>
  import EntityGridViewDefault from './EntityGridViewDefault'
  import Task from '@/components/resources/specific/tasks/GridView'
  export default {
    name: 'entity-grid-view',
    components: {
      EntityGridViewDefault,
      Task
    },
    props: {
      entity: {
        required: true
      }
    },
    computed: {
      entityType () {
        if (this.entity.type === 'task') {
          return 'task'
        }
        return 'entity-grid-view-default'
      }
    }
  }
</script>

<style scoped>

</style>
