<template>
  <div>
    <p>tasks crud page</p>
    <CrudPage
      entity-name="task"
    />

  </div>
</template>
<style>

</style>
<script>
  import CrudPage from '@/components/resources/agnostic/Crud/Components/entityCrudPage'

  export default {
    components: {
      CrudPage
    }
  }
</script>
