<template>
    <div>
        <fullList/>
    </div>
</template>
<style>

</style>
<script>
  import fullList from '../../../components/resources/specific/tasks/fullList.vue'
  export default {
    data () {
      return {
      }
    },
    computed: {
    },
    components: {
      fullList
    }
  }
</script>
