<template>
    <div>
        <mu-text-field @input="changeChecklist" label="name" v-model="checklist.name" labelFloat/>
        <br/>
        <mu-text-field @input="changeChecklist" label="description" v-model="checklist.description" labelFloat/>
        <mu-select-field v-model="checklist.type" label="type">
            <mu-menu-item :value="0" title="blueprint"/>
            <mu-menu-item :value="1" title="running"/>
        </mu-select-field>
        <FiltersField @input="changeChecklist" v-model="checklist"/>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let checklist = {...this.value}
      return {
        checklist
      }
    },
    computed: {
    },
    methods: {
      changeChecklist: function () {
        console.log('emitting change', this.checklist)
        this.$emit('input', this.checklist)
        this.$emit('update', this.checklist)
      }
    }
  }
</script>
