<template>
  <div>
    <div>create checklist</div>
    <mu-row>
      <mu-col width="100">
        <checklistForm v-model="checklist"/>
        <mu-raised-button label="Create" @click="createChecklist(checklist)" primary/>
      </mu-col>
    </mu-row>2
    <mu-icon-button tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
  </div>
</template>

<script>
  import checklistForm from './_form.vue'

  export default {
    data () {
      return {
        checklist: {
          blocks: [],
          contexts: [],
          moods: [],
          projects: [],
          categories: []
        }
      }
    },
    components: {
      checklistForm
    },
    methods: {
      close () {
        this.$emit('close')
        this.$emit('cancel')
      },
      createChecklist (checklist) {
        this.$store.dispatch('checklistStore/addItem', checklist)
        this.checklist = {id: null, name: '', description: ''}
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
