<template>
    <div>
        <div>Edit checklist</div>
        <mu-row>
            <mu-col width="100">
                <checklistForm v-model="checklist"/>
                <mu-raised-button label="Update" @click="updateChecklist(checklist)" primary/>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
  import checklistForm from './_form.vue'
  export default{
    props: ['id'],
    data () {
      let checklist = this.$store.getters['checklistStore/getById'](this.id)
      return {
        checklist
      }
    },
    components: {
      checklistForm
    },
    methods: {
      updateChecklist (checklist) {
        console.log('form update', checklist)
        this.$store.dispatch('checklistStore/updateItem', checklist)
        this.$emit('updateChecklist', checklist)
        this.$emit('cancel')
      }
    }
  }
</script>
