<template>
  <div>
    <div>this is blueprints list</div>
    <entityTable :list="listBlueprints" @deleteItem="deleteChecklist" @createItem="createChecklist">
      <template slot-scope="props">
        <mu-icon-button :to="{ name: 'start.checklists.edit', params: {id: props.item.id}}" icon="list"/>
        <mu-icon-button :to="{ name: 'start.checklists.edit2', params: {id: props.item.id}}" icon="reorder"/>
        <mu-icon-button @click="startChecklist(props.item)" icon="play_arrow"/>
      </template>
    </entityTable>
  </div>
</template>
<style>

</style>
<script>
  import entityTable from '@/components/resources/pan/entityTable'

  export default {
    components: {
      entityTable
    },
    computed: {
      listBlueprints: function () {
        return this.$store.getters['checklistStore/getFilteredBlueprints']
      }
    },
    methods: {
      deleteChecklist (checklist) {
        this.$store.dispatch('checklistStore/deleteItem', checklist)
      },
      selectChecklist (checklist) {
        this.$emit('selectChecklist', checklist)
      },
      startChecklist (checklist) {
        console.log('startt')
        console.log(checklist)
        this.$store.dispatch('checklistStore/startChecklist', checklist)
      },
      createChecklist () {
        this.$store.dispatch('createAndEditModals/openModal', {id: null, type: 'create', model: 'checklist'})
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    created: function () {
      this.$store.dispatch('checklistStore/getList')
    }
  }
</script>
<style lang="scss">
  .transparent {
    opacity: 0.5;
  }
</style>
