<template>
    <div>
        <p>running list</p>
        <entityTable :list="listRunning" @deleteItem="deleteChecklist" @selectItem="selectChecklist">
            <template slot-scope="props">
                <mu-icon-button :to="{ name: 'start.checklists.editRunning', params: {id: props.item.id}}" icon="list"/>
                <br>
                <span>completed/pending: (  {{getStatus(props.item).completed.length}} /  {{getStatus(props.item).pending.length}})</span>
            </template>
        </entityTable>
    </div>
</template>
<style>

</style>
<script>
  import entityTable from '@/components/resources/pan/entityTable'
  export default {
    components: {
      entityTable
    },
    computed: {
      listRunning: function () {
        return this.$store.getters['checklistStore/getFilteredRunning']
      }
    },
    methods: {
      deleteChecklist (checklist) {
        this.$store.dispatch('checklistStore/deleteItem', checklist)
      },
      selectChecklist (checklist) {
        this.$emit('selectChecklist', checklist)
      },
      startChecklist (checklist) {
        console.log('startt')
        console.log(checklist)
        this.$store.dispatch('checklistStore/startChecklist', checklist)
      },
      getStatus (checklist) {
        let status = this.$Provider.modules.checklists.displays.getStatus(checklist)
        return status
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    created: function () {
      this.$store.dispatch('checklistStore/getList')
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
