<template>
    <div>
        <pointsList @selectPoint="selectPoint" ref="pointsListComp"/>

        <FullModal :open="showCreate" title="Edit point" @close="close">
            <pointCreate @close="close" @updatedPoint="updateList"/>
        </FullModal>
        <FullModal :open="showEdit" title="Edit point" @close="close">
            <pointEdit :selected="pickedPoint"  v-if="pickedPoint" @close="close" @updatedPoint="updateList"/>
        </FullModal>
        <mu-icon-button @click="openCreate" v-if="!showCreate" tooltip="create" tooltipPosition="top-center" icon="add"/>
    </div>
</template>
<style>

</style>
<script>
  import pointsList from '@/components/resources/specific/checklists/points/listRunning.vue'
  import pointEdit from '@/components/resources/specific/checklists/points/edit.vue'
  import pointCreate from '@/components/resources/specific/checklists/points/create.vue'
  export default{
    data () {
      return {
        pickedPoint: {name: null},
        showCreate: false,
        showEdit: false
      }
    },
    methods: {
      selectPoint (pointId) {
        this.pickedPoint = pointId
        this.showCreate = false
        this.showEdit = true
      },
      close: function () {
        this.pickedPoint = {name: null}
        this.showCreate = false
        this.showEdit = false
      },
      openCreate () {
        this.showCreate = true
      },
      updateList () {
        console.log('catched emit update list on page')
        this.$refs.pointsListComp.updateList()
      }
    },
    components: {
      pointsList,
      pointEdit,
      pointCreate
    },
    created () {
      console.log('checklist edit')
    }
  }
</script>
