<template>
    <div>
        <div class="ChecklistItem" :class="{'is-open': open}">
            <div class="ChecklistItem-header">
                <div class="ChecklistItem-title">
                    <span>{{checklist.name}}</span>
                </div>
                <div class="ChecklistItem-button">
                    <i class="material-icons">visibility</i>
                </div>
            </div>

            <div class="ChecklistItem-content">
                <div class="ChecklistItem-description">{{checklist.description}}</div>
                <div class="ChecklistItem-stats">({{completed}} / {{pending}})</div>
                <div class="ChecklistItem-button">
                    <i class="material-icons">build</i>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: {
      checklist: {
        required: true
      }
    },
    data () {
      return {
        msg: 'hello vue',
        open: true
      }
    },
    computed: {
      completed () {
        return this.checklist.getCompleted().length
      },
      pending () {
        return this.checklist.getPending().length
      }
    }
  }
</script>
<style lang="scss">
    .ChecklistItem {
        border: 1px #ffd6cf solid;
        background-color: #0038c7;
        color: whitesmoke;

        padding: 10px;
        border-radius: 20px;
        margin: 10px 0 10px 0;
        &--open {
        }
        &-header {
            display: flex;
            justify-content: space-between;
        }
        .material-icons {
        }
        &-title {
            border: 1px white solid;
            display: flex;
            justify-content: center;
            /* align horizontal */
            align-items: center;
            /* align vertical */
            flex-grow: 1;
        }
        &-button {
            border: 1px white solid;
            display: flex;
            align-items: center;
        }
        &-content {
            display: flex;
            align-items: center;
        }
        &-description {

        }
    }

</style>
