<template>
    <div>
        <mu-text-field  @input="changeCategory"  label="name" v-model="category.name" labelFloat/>
        <br/>
        <mu-text-field  @input="changeCategory"  label="description" v-model="category.description" labelFloat/>
        <br/>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let category = this.value
      return {
        category
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeCategory: function () {
        this.$emit('input', this.category)
      }
    }
  }
</script>
