<template>
    <div>
        <div>create category</div>
        <mu-row>
            <mu-col width="100">
                <categoryForm v-model="category"/>
                <mu-raised-button label="Create" @click="createCategory(category)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import categoryForm from './_form.vue'
  export default{
    data () {
      return {
        category: {}
      }
    },
    components: {
      categoryForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createCategory (category) {
        this.$store.dispatch('categoryStore/addItem', category)
        this.category = {id: null, name: '', description: ''}
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
