<template>
  <div>
    <entityTable
      :list="list"
      @deleteItem="removeItem"
      @selectItem="editItem"
      @createItem="createItem"
    />
  </div>
</template>
<style>

</style>
<script>
  import entityTable from '@/components/resources/pan/entityTable'
  import entityListMixin from '@/components/resources/pan/globalCrudMixins/entityListMixin'

  export default {
    components: {
      entityTable
    },
    props: {
      entityType: {
        default: 'category'
      }
    },
    mixins: [entityListMixin]
  }
</script>
<style lang="scss">
  .transparent {
    opacity: 0.5;
  }
</style>
