<template>
    <div>
        <mu-text-field @input="changeStep" label="name" v-model="step.name" labelFloat/>
        <br/>
        <mu-text-field @input="changeStep" label="description" v-model="step.description" labelFloat/>
        <br/>
        <statusSelect v-model="step.status" @input="changeStep"/>
        <Datepicker @input="changeStep" v-model="step.start" title="start date"/>
        <Datepicker @input="changeStep" v-model="step.end" title="end date"/>
    </div>
</template>
<style>

</style>
<script>
  import statusSelect from '../../../pan/statusSelect'

  export default {
    props: ['value'],
    components: {
      statusSelect
    },
    data () {
      let step = this.value
      return {
        step
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeStep: function () {
        this.$emit('input', this.step)
      }
    }
  }
</script>
