<template>
    <div>
        <div>create step</div>
        <mu-row>
            <mu-col width="100">
                <stepForm v-model="step"/>
                <mu-raised-button label="Create" @click="createStep(step)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import stepForm from './_form.vue'
  export default{
    props: {
      id: {
        required: true
      }
    },
    data () {
      return {
        step: {status: 'Pending'}
      }
    },
    components: {
      stepForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createStep (step) {
        step.goalId = this.id
        this.$store.dispatch('stepStore/addItem', step)
        this.$emit('close')
        this.$emit('cancel')
      }
    }
  }
</script>
