<template>
    <div v-if="step">
        <div>Edit step</div>
        <mu-row>
            <mu-col width="100">
                <stepForm v-model="step"/>
                <mu-raised-button label="Update" @click="updateStep(step)" primary/>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
  import stepForm from './_form.vue'
  export default{
    props: ['id'],
    data () {
      return {
        step: null
      }
    },
    components: {
      stepForm
    },
    methods: {
      updateStep (step) {
        step.goal = this.$route.params.id
        this.$store.dispatch('stepStore/updateItem', step)
        this.$emit('cancel')
      }
    },
    created () {
      this.$Provider.modules.goals.actions().getStepById(this.id).then(r => {
        this.step = {...r}
      })
    }
  }
</script>
