<template>
    <div>
        <stepsList :steps="list" @selectStep="selectStep"/>

        <FullModal :open="showCreate" title="Edit step" @close="close" scrollable>
            <stepCreate @close="close"/>
        </FullModal>
        <FullModal :open="showEdit" title="Edit step" @close="close" scrollable>
            <stepEdit :selected="pickedStep"  v-if="pickedStep" @updateStep="close"/>
        </FullModal>
        <mu-icon-button @click="openCreate" v-if="!showCreate" tooltip="create" tooltipPosition="top-center" icon="add"/>
    </div>
</template>
<style>

</style>
<script>
  import stepsList from './list.vue'
  import stepEdit from './edit.vue'
  import stepCreate from './create.vue'
  export default{
    props: {
      steps: {
        type: Array,
        required: true
      }
    },
    data () {
      let list = this.steps
      return {
        pickedStep: {name: null},
        showCreate: false,
        showEdit: false,
        list
      }
    },
    methods: {
      selectStep (stepId) {
        this.pickedStep = stepId
        this.showCreate = false
        this.showEdit = true
      },
      close: function () {
        this.pickedStep = {name: null}
        this.showCreate = false
        this.showEdit = false
      },
      openCreate () {
        this.showCreate = true
      }
    },
    components: {
      stepsList,
      stepEdit,
      stepCreate
    },
    watch: {
      steps: function () {
        this.list = this.steps
      }
    }
  }
</script>
