<template>
    <div>
        <entityTable :list="list" @deleteItem="deleteStep" @selectItem="selectStep"/>
    </div>
</template>
<script>
  import entityTable from '../../../pan/entityTable'
  export default{
    props: {
      steps: {
        type: Array,
        required: true
      }
    },
    components: {
      entityTable
    },
    methods: {
      deleteStep (step) {
        this.$store.dispatch('stepStore/deleteItem', step)
      },
      selectStep (step) {
        this.$emit('selectStep', step)
      }
    },
    data () {
      let list = this.steps
      return {
        list
      }
    },
    watch: {
      steps: function () {
        this.list = this.steps
      }
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
