<template>
  <div class="Crud">
    <div class="Crud-head">
      <div class="Crud-title">
        {{title}}
      </div>
      <div class="Crud-createButton" v-if="view === 'list'">
        <slot name="createButton">
          <button @click="setView('create')">Create</button>
        </slot>
      </div>
    </div>
    <component
      :is="listComponent"
      :list="listCopy"
      :itemComp="listItemComponent"
      v-if="view === 'list'"
      @editItem="setEditItem"
      @viewItem="setViewItem"
      @removeItem="removeItem"
      @cancel="resetView"
    />
    <component
      :is="createComponent"
      :formComp="formComponent"
      v-if="view === 'create'"
      @doCreate="doCreate"
      @cancel="resetView"
    />
    <component
      :is="viewComponent"
      :item="viewItem"
      v-if="view === 'view'"
      @edit="setEditItem"
      @remove="removeItem"
      @cancel="resetView"
    />
    <component
      :is="editComponent"
      :item="editItem"
      v-if="view === 'edit'"
      :formComp="formComponent"
      @update="updateItem"
      @cancel="resetView"
    />
  </div>
</template>

<script>
  import CrudMixin from './Mixins/CrudMixin'

  export default {
    name: 'crud',
    mixins: [CrudMixin]
  }
</script>

<style lang="scss">
  .Crud {
    &-head {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      font-size: 16px;
      font-weight: bold;
    }
  }
</style>
