<template>
    <div class="wrapper dashboard" id="dashboard-wrapper">
        <mu-row gutter>
            <mu-col width="0" desktop="25" tablet="10" phone="100">
            </mu-col>
            <mu-col width="100" desktop="50" tablet="80" phone="100">
                    <div>
                        <p>Welcome to dashboard</p>
                    </div>
            </mu-col>
            <mu-col width="0" desktop="25" tablet="10" phone="100">
            </mu-col>
        </mu-row>
    </div>
</template>
