<template>
    <div>
        <div v-if="logged_in()">
            <mu-row>
                <mu-col width="100" desktop="100">
                    <mu-raised-button label="Today" :to="{path: 'views'}" secondary fullWidth/>
                </mu-col>
            </mu-row>

        </div>
        <div v-if="!logged_in()">
            <router-link :to="{ name: 'login'}">Login</router-link>
        </div>
    </div>
</template>
<script>
  export default{
    data () {
      return {
        logged_in: function () {
          return !!(this.$store.state.userStore.authUser !== undefined &&
          this.$store.state.userStore.authUser !== null &&
          this.$store.state.userStore.authUser.access_token)
        }
      }
    }
  }
</script>
