<template>
    <div id="login-wrapper" class="wrapper">
        <div v-if="checkLoggedIn">logged in</div>
        <mu-row gutter>
            <mu-col width="100" tablet="50" desktop="33">
                <mu-card>
                    <mu-card-title title="Login"/>
                    <mu-card-text>
                        <mu-text-field label="email" fullWidth hintText="email" v-model="login.email"/>
                        <br/>
                        <mu-text-field label="password" fullWidth type="password" labelFloat v-model="login.password"/>
                        <br/>
                    </mu-card-text>
                    <mu-card-actions>
                        <mu-raised-button
                          labelClass="login"
                          label="Login"
                          class="demo-raised-button"
                          primary
                          @click="handleLoginFormSubmit()"/>
                    </mu-card-actions>
                </mu-card>
                <br>
            </mu-col>
        </mu-row>
    </div>
</template>


<script>
  export default {
    name: 'LoginPage',
    data () {
      return {
        login: {
          email: 'test@test.com',
          password: 'testtest'
        }
      }
    },
    methods: {
      handleLoginFormSubmit () {
        this.$store.dispatch('performLogin', this.login)
      }
    },
    computed: {
      checkLoggedIn: function () {
        if (this.$store.state.userStore.authUser !== null) {
          this.$router.push({name: 'dashboard'})
        }
        return this.$store.state.userStore.authUser
      }
    },
    created: function () {
      if (this.$store.state.userStore.authUser !== null) {
        this.$router.push({name: 'dashboard'})
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    #login-wrapper {
        margin-top: 50px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
