<template>
    <div>
        <mu-text-field @input="changeChore" label="name" v-model="chore.name" labelFloat/>
        <br/>
        <mu-text-field @input="changeChore" label="description" v-model="chore.description" labelFloat/>
        <br/>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let chore = this.value
      return {
        chore
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeChore: function () {
        this.$emit('input', this.chore)
      }
    }
  }
</script>
