<template>
    <div>
        <div>create chore</div>
        <mu-row>
            <mu-col width="100">
                <choreForm v-model="chore"/>
                <mu-raised-button label="Create" @click="createChore(chore)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import choreForm from './_form.vue'
  export default{
    data () {
      return {
        chore: {}
      }
    },
    components: {
      choreForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createChore (chore) {
        chore.routine_id = this.$route.params.id
        this.$store.dispatch('choreStore/addItem', chore)
        this.chore = {id: null, name: '', description: ''}
        this.$emit('close')
      }
    }
  }
</script>
