<template>
    <div>
        <div>Edit chore</div>
        <mu-row>
            <mu-col width="100">
                <choreForm v-model="chore"/>
                <mu-raised-button label="Update" @click="updateChore(chore)" primary/>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
  import choreForm from './_form.vue'
  export default{
    props: ['selected'],
    data () {
      let chore = this.$store.getters['choreStore/getByIdWithIds'](this.selected)
      return {
        chore
      }
    },
    components: {
      choreForm
    },
    methods: {
      updateChore (chore) {
        this.$store.dispatch('choreStore/updateItem', chore)
        this.$emit('updateChore', chore)
      }
    }
  }
</script>
