<template>
    <div>
        <div>this is Chores list2</div>
        <entityTable :list="list" @deleteItem="deleteChore" @selectItem="selectChore"/>
    </div>
</template>

<script>
  import entityTable from '../../../pan/entityTable'

  export default{
    components: {
      entityTable
    },
    computed: {
      list: function () {
        return this.$store.getters['choreStore/getByRoutine'](this.$route.params.id)
      }
    },
    methods: {
      deleteChore (chore) {
        this.$store.dispatch('choreStore/deleteItem', chore)
      },
      selectChore (chore) {
        this.$emit('selectChore', chore)
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    created: function () {
      console.log('chore list create')
      this.$store.dispatch('choreStore/getList')
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
