<template>
  <div>
    <loadingOverlay v-if="showOverlay"/>
    <mu-appbar>
      <mu-flat-button label="Ellomend" :to="{name: 'start'}" slot="left" labelClass="logo"/>
      <mu-icon-menu icon="more_vert" slot="right">
        <mu-menu-item title="Views" :to="{name: 'views'}"/>
        <mu-menu-item title="Filters" @click="showFiltersPopup"/>
        <mu-menu-item title="Dates" @click="showDatesPopup"/>
      </mu-icon-menu>
      <login-logout-button slot="right"/>
    </mu-appbar>
    <Preloader v-if="logged_in"/>
    <errorToast></errorToast>

    <mu-drawer :open="showFilters" :docked="false" @close="hideFiltersPopup()" right>
      <Filters/>
    </mu-drawer>
    <FullModal :open="showDates" title="Dates" @close="hideDatesPopup" scrollable>
      <Dates/>
      <mu-flat-button slot="actions" @click="hideDatesPopup" primary label="Close"/>
    </FullModal>
    <createAndEditModals/>
    <div id="content-wrapper">
      <slot></slot>
    </div>
  </div>
</template>
<script>
  import MuseUI from 'muse-ui'
  import Vue from 'vue'
  import LoginLogoutButton from 'Components/general/LoginLogoutButton'
  import loadingOverlay from 'Components/general/Loading.vue'
  import errorToast from 'Components/general/ErrorToast.vue'
  import Filters from '../components/resources/specific/general/filter/filters'
  import Dates from '../components/resources/specific/general/filter/dateTimeFilter'
  import Preloader from '../components/general/Preloader'
  import createAndEditModals from '@/components/resources/pan/createAndEditModals'
  Vue.use(MuseUI)
  export default {
    name: 'default-layout',
    components: {
      LoginLogoutButton,
      errorToast,
      loadingOverlay,
      Filters,
      Dates,
      Preloader,
      createAndEditModals
    },
    data () {
      return {
        showFilters: false,
        showDates: false
      }
    },
    computed: {
      showOverlay () {
        return Boolean(this.$store.state.loadersStore.loading.length)
      },
      logged_in: function () {
        return !!(this.$store.state.userStore.authUser)
      }
    },
    methods: {
      showFiltersPopup () {
        this.showFilters = true
      },
      hideFiltersPopup () {
        this.showFilters = false
      },
      showDatesPopup () {
        this.showDates = true
      },
      hideDatesPopup () {
        this.showDates = false
      },
      handleChange (value) {
        this.value = value
      }
    }
  }
</script>
<style lang="scss">
  @import '~muse-ui/dist/muse-ui.css';
  @import '~muse-ui/dist/theme-carbon.css'; // use carbon theme
  @import "../assets/sass/main";
  #content-wrapper {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    @media (max-width: 600px) {
      padding-top: 10px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

</style>
