<template>
  <div class="createButton">
    <mu-raised-button label="create" @click="toggleShowCreate" primary/>
  </div>
</template>

<script>
  export default {
    name: 'create-button',
    props: {
      modelName: {
        type: String,
        required: true
      },
      id: {
        type: String,
        required: false
      }
    },
    methods: {
      toggleShowCreate () {
        this.$store.dispatch('createAndEditModals/openModal', {
          type: 'create',
          model: this.modelName,
          id: this.id
        })
      }
    }
  }
</script>

<style lang="scss">
  .createButton {
  }
</style>
