<template>
    <div class="CrudButtons">
        <div class="CrudButtons-wrapper">
            <mu-raised-button label="Edit" @click="edit"/>
            <mu-raised-button label="delete" @click="remove"/>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['entity'],
    methods: {
      edit () {
        this.$store.dispatch('createAndEditModals/openModal', {id: this.entity.id, model: this.entity.modelName, type: 'edit'})
      },
      remove () {
        console.log('remove entity', this.entity)
        this.$store.dispatch('panResourcesStuff/removeEntity', this.entity)
      }
    }
  }
</script>
<style>

</style>
