<template>
    <div>
        <mu-text-field @input="changeStack" label="name" v-model="stack.name" labelFloat/>
        <br/>
        <mu-text-field @input="changeStack" label="description" v-model="stack.description" labelFloat/>
        <br>
        <mu-select-field @input="changeStack" v-model="stack.contexts" multiple label="Contexts">
            <mu-menu-item v-for="context in filters.contexts" key="context.id" :value="context.id"
                          :title="context.name"/>
        </mu-select-field>
        <mu-select-field @input="changeStack" v-model="stack.blocks" multiple label="blocks">
            <mu-menu-item v-for="block in filters.blocks" key="block.id" :value="block.id" :title="block.name"/>
        </mu-select-field>
        <mu-select-field @input="changeStack" v-model="stack.projects" multiple label="project">
            <mu-menu-item v-for="project in filters.projects" key="project.id" :value="project.id"
                          :title="project.name"/>
        </mu-select-field>
        <mu-select-field @input="changeStack" v-model="stack.moods" multiple label="mood">
            <mu-menu-item v-for="mood in filters.moods" key="mood.id" :value="mood.id" :title="mood.name"/>
        </mu-select-field>
        <mu-select-field @input="changeStack" v-model="stack.categories" multiple label="category">
            <mu-menu-item v-for="category in filters.categories" key="category.id" :value="category.id"
                          :title="category.name"/>
        </mu-select-field>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let stack = this.value
      return {
        stack
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeStack: function () {
        this.$emit('input', this.stack)
      }
    }
  }
</script>
