<template>
    <div>
        <div>create stack</div>
        <mu-row>
            <mu-col width="100">
                <stackForm v-model="stack"/>
                <mu-raised-button label="Create" @click="createStack(stack)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import stackForm from './_form.vue'
  export default{
    data () {
      return {
        stack: {}
      }
    },
    components: {
      stackForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createStack (stack) {
        this.$store.dispatch('stackStore/addItem', stack)
        this.stack = {id: null, name: '', description: ''}
        this.$emit('close')
      }
    }
  }
</script>
