<template>
    <div>
        <div>Edit stack</div>
        <mu-row>
            <mu-col width="100">
                <stackForm v-model="stack"/>
                <mu-raised-button label="Update" @click="updateStack(stack)" primary/>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
  import stackForm from './_form.vue'
  export default{
    props: ['selected'],
    data () {
      let stack = this.$store.getters['stackStore/getByIdWithIds'](this.selected)
      return {
        stack
      }
    },
    components: {
      stackForm
    },
    methods: {
      updateStack (stack) {
        this.$store.dispatch('stackStore/updateItem', stack)
        this.$emit('updateStack', stack)
      }
    }
  }
</script>
