<template>
    <div>
        <div>this is Stacks list</div>
        <p>how can we fix it ?</p>
        <p>dev warning says its there a undefined in list.</p>
        <p>prod build dont show errors, but trigger errorHandler.</p>
        <p>netlify build shows no errors whatsoever</p>

        <p>we need to test on mobile...</p>
        <p>it seems error appears, on prod it supressed, on netlify it gets swallowed.</p>
        <p>netlify does</p>
        <entityTable :list="list" @deleteItem="deleteStack" @selectItem="selectStack">
            <template slot-scope="props">
                <mu-icon-button :to="{ name: 'start.stacks.edit', params: {id: props.item.id}}" icon="list"/>
            </template>
        </entityTable>
    </div>
</template>
<script>
  import entityTable from '../../pan/entityTable'
  export default{
    components: {
      entityTable
    },
    computed: {
      list: function () {
        return this.$store.state['stackStore'].list || []
      }
    },
    methods: {
      deleteStack (stack) {
        this.$store.dispatch('stackStore/deleteItem', stack)
      },
      selectStack (stack) {
        this.$emit('selectStack', stack)
      }
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    created: function () {
      this.$store.dispatch('stackStore/getList')
    },
    mounted () {
      console.log('problematic component is mounted')
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
