<template>
  <div class="Checklists">
    <CrudList
      :list="CrudList"
      @crudCreate="create"
      @crudRemove="remove"
      @crudUpdate="update"
    />
  </div>
</template>

<script>
  import CrudList from '@/components/resources/agnostic/Crud/Crud'
  import ChecklistForm from '../_form'
  export default {
    name: 'checklists',
    components: {
      CrudList, ChecklistForm
    },
    computed: {
      CrudList: function () {
        return this.$store.getters['checklistStore/getFilteredRunning']
      }
    },
    methods: {
      create (item) {
        console.log('create', item)
      },
      update (item) {
        console.log('update', item)
      },
      remove (id) {
        console.log('remove1', id)
      }
    }
  }
</script>

<style>

</style>
