<template>
    <div>
        <mu-text-field  @input="changeBlock"  label="name" v-model="mood.name" labelFloat/>
        <br/>
        <mu-text-field  @input="changeBlock"  label="description" v-model="mood.description" labelFloat/>
        <br/>
    </div>
</template>
<style>

</style>
<script>
  export default {
    props: ['value'],
    data () {
      let mood = this.value
      return {
        mood
      }
    },
    computed: {
      filters: function () {
        let filters = this.$store.getters['filterStore/allFilters']
        return filters
      }
    },
    methods: {
      changeBlock: function () {
        this.$emit('input', this.mood)
      }
    }
  }
</script>
