<template>
    <div>
        <div>create mood</div>
        <mu-row>
            <mu-col width="100">
                <moodForm v-model="mood"/>
                <mu-raised-button label="Create" @click="createMood(mood)" primary/>
            </mu-col>
        </mu-row>
        <mu-icon-button  tooltip="cancel" tooltipPosition="top-center" icon="clear" @click="close"/>
    </div>
</template>

<script>
  import moodForm from './_form.vue'
  export default{
    data () {
      return {
        mood: {}
      }
    },
    components: {
      moodForm
    },
    methods: {
      close () {
        this.$emit('close')
      },
      createMood (mood) {
        this.$store.dispatch('moodStore/addItem', mood)
        this.mood = {id: null, name: '', description: ''}
        this.$emit('close')
      }
    }
  }
</script>
