<template>
    <div>
        <entityTable
          :list="list"
          @deleteItem="removeItem"
          @selectItem="editItem"
          @createItem="createItem"
        />
    </div>
</template>
<style>

</style>
<script>
  import entityTable from '../../pan/entityTable'
  import entityListMixin from '@/components/resources/pan/globalCrudMixins/entityListMixin'

  export default {
    components: {
      entityTable
    },
    mixins: [entityListMixin],
    data () {
      return {
        entityType: 'mood'
      }
    }
  }
</script>
<style lang="scss">
    .transparent {
        opacity: 0.5;
    }
</style>
