<template>
    <div>
        <pointsList/>
    </div>
</template>
<style>

</style>
<script>
  import pointsList from '@/components/resources/specific/checklists/points/list.vue'
  export default{
    components: {
      pointsList
    }
  }
</script>
