<template>
    <div>
        <Panel title="tasks" :open="false">
            <CreateButton modelName="task"/>
            <div v-for="task in tasks" :key="task.id">
                <basicMask :entity="task">
                    <p slot="header">{{task.name}}</p>
                    <p slot="description">{{task.description}}</p>
                    <ChangeStatus slot="custom" :entity="task"/>
                </basicMask>
            </div>
        </Panel>
        <Panel title="checklists bluePritns" :open="false">
            <CreateButton modelName="checklist"/>
            <div v-for="checklist in checklistsBlueprints" :key="checklist.id">
                <basicMask :entity="checklist">
                    <p slot="header">{{checklist.name}}</p>
                    <p slot="description">{{checklist.description}}</p>
                    <div slot="custom">
                        <p v-if="checklist.type === 1">running</p>
                        <p v-if="checklist.type === 0">blueprint</p>
                    </div>
                    <div slot="custom">
                        <Panel title="points" :open="false">
                            <CreateButton modelName="point" :id="checklist.id"/>
                            <div class="Point" v-for="point in checklist.points">
                                <basicMask :entity="point">
                                    <p slot="custom">{{point.order}}</p>
                                    <ChangeStatus slot="custom" :entity="point"/>
                                    <UpDownButtons
                                      slot="custom"
                                      :point="point"
                                    />
                                </basicMask>
                            </div>
                        </Panel>
                    </div>
                </basicMask>
            </div>
        </Panel>
        <Panel title="checklists running" :open="false">
            <CreateButton modelName="checklist"/>
            <div v-for="checklist in checklistsRunning" :key="checklist.id">
                <basicMask :entity="checklist">
                    <p slot="header">{{checklist.name}}</p>
                    <p slot="description">{{checklist.description}}</p>
                    <div slot="custom">
                        <p v-if="checklist.type === 1">running</p>
                        <p v-if="checklist.type === 0">blueprint</p>
                    </div>
                    <div slot="custom">
                        <Panel title="points" :open="false">
                            <CreateButton modelName="point" :id="checklist.id"/>
                            <div class="Point" v-for="point in checklist.points">
                                <basicMask :entity="point">
                                    <p slot="custom">{{point.order}}</p>
                                    <ChangeStatus slot="custom" :entity="point"/>
                                    <UpDownButtons
                                      slot="custom"
                                      :point="point"
                                    />
                                </basicMask>
                            </div>
                        </Panel>
                    </div>
                </basicMask>
            </div>
        </Panel>
        <Panel title="goals">
            <CreateButton modelName="goal"/>
            <div v-for="goal in goals" :key="goal.id">
                <basicMask :entity="goal">
                    <p slot="header">{{goal.name}}</p>
                    <p slot="description">{{goal.description}}</p>
                    <div slot="custom">
                        <Panel title="steps" :open="false">
                            <CreateButton modelName="step" :id="goal.id"/>
                            <div class="Point" v-for="step in goal.steps">
                                <basicMask :entity="step">
                                    <ChangeStatus slot="custom" :entity="step"/>
                                </basicMask>
                            </div>
                        </Panel>
                    </div>
                </basicMask>
            </div>
        </Panel>
        <Panel title="steps">
            <div v-for="step in steps" :key="step.id">
                <basicMask :entity="step">
                    <p slot="header">{{step.name}}</p>
                    <p slot="description">{{step.description}}</p>
                </basicMask>
            </div>
        </Panel>
        <Panel title="routines">
        </Panel>
    </div>
</template>

<script>
  import Panel from '@/components/general/Panel.vue'
  import listItem from '@/components/resources/specific/checklists/listItem.vue'
  import UpDownButtons from '@/components/resources/specific/checklists/partials/UpDownButtons'
  import ChangeStatus from '@/components/resources/pan/fieldsPartials/ChangeStatus'

  export default {
    components: {
      Panel,
      listItem,
      UpDownButtons,
      ChangeStatus
    },
    data () {
      return {
        msg: 'hello vue'
      }
    },
    computed: {
      checklists: function () {
        return this.$store.getters['checklistStore/getAll']
      },
      tasks () {
        return this.$store.getters['taskStore/getProcessed']
      },
      goals () {
        return this.$store.getters['goalStore/getAll']
      },
      steps () {
        return this.$store.getters['stepStore/getAll']
      },
      checklistsRunning () {
        return this.$store.getters['checklistStore/getFilteredRunning']
      },
      checklistsBlueprints () {
        return this.$store.getters['checklistStore/getFilteredBlueprints']
      }
    }
  }
</script>
<style>

</style>
