<template>
  <div>
    <twoLists/>
  </div>
</template>
<style>

</style>
<script>
  import twoLists from '@/components/resources/specific/checklists/isolatedWidgets/workingPage/twoPages'

  export default {
    components: {
      twoLists
    }
  }
</script>
