<template>
    <div>
        <mu-row>
            <mu-col width="100" desktop="100">
                <mu-raised-button secondary label="calendar" :to="{name: 'views.calendar'}"/>
                <mu-raised-button secondary label="week table" :to="{name: 'views.table'}"/>
            </mu-col>
        </mu-row>
        <router-view></router-view>
    </div>
</template>
<style>

</style>
<script>
  export default {
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>
