<template lang="pug">
  .DateHeader(
    :class="{'DateHeader-today': isToday, 'DateHeader-weekend': isWeekEnd}"
  )
    .DateHeader-weekday {{format(weekDay)}}
    .DateHeader-dayOfMonth {{format(dayOfMonth)}}
    .DateHeader-monthName {{format(monthName)}}
</template>

<script>
  import moment from 'moment'
  export default {
    props: {
      date: {
        required: true
      }
    },
    data () {
      // https://momentjs.com/docs/#/displaying/format/
      return {
        monthName: 'MMM ', // MMM Jan Feb ... Nov Dec
        dayOfMonth: 'D ', // D 1 2 ... 30 31
        dayOfWeek: 'E ', // Day of Week (ISO) E 1 2 ... 6 7
        weekDay: 'ddd', // ddd Sun Mon ... Fri Sat
        weekDayLong: 'dddd' // Sunday Monday ... Friday Saturday
      }
    },
    computed: {
      mt () {
        if (typeof this.date === 'string') {
          return moment(this.date)
        }
        return this.date
      },
      isToday () {
        return moment().isSame(this.mt, 'day')
      },
      isWeekEnd () {
        return (this.mt.isoWeekday() === 6 || this.mt.isoWeekday() === 7)
      }
    },
    methods: {
      format (format) {
        return this.mt.format(format)
      }
    }
  }
</script>

<style scoped lang="stylus">
  .DateHeader
    display block
    min-width 50px
    border-right: 1px solid darkcyan
    background-color #a6dff5
    text-align: center
    &-today
      background-color #75f56e
    &-weekend
      background-color #00ffff

</style>
