<template>
    <div>
        <mu-snackbar v-for="error, index in errorsList" :message="error" :key="index" action="close" @actionClick="closeError(error)"/>
    </div>
</template>
<style>

</style>
<script>
  export default {
    data () {
      return {
        showToast: true
      }
    },
    computed: {
      errorsList: function () {
        return this.$store.getters.getErrors
      }
    },
    methods: {
      closeError (error) {
        this.$store.commit('removeError', error)
      }
    }
  }
</script>
