<template>
    <div class="Modal-mask" :class="{'isOpen': open}" v-if="open" >
        <div class="Modal-wrapper">
            <div class="Modal-container">
                <div class="Modal-bottomClose">
                    <mu-raised-button label="Close" @click="close" primary/>
                </div>
                <div class="Modal-header">
                    {{title}}
                    <slot name="header">
                    </slot>
                </div>
                <div class="Modal-body">
                    <slot/>
                </div>
                <div class="Modal-footer">
                    <slot name="footer">
                    </slot>
                </div>
                <div class="Modal-bottomClose">
                    <mu-raised-button label="Close" @click="close" primary/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: {
      open: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
      }
    },
    methods: {
      close () {
        this.$emit('close')
      }
    }
  }
</script>
<style lang="stylus">
    .Modal
        &-mask
            z-index: 9998;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, .5);
            display: block;
            padding: 30px 5px 30px 5px
            overflow: scroll
        &-wrapper
            display: block;
            vertical-align: middle;
        &-container
            display: block
            float: left
            width: 100%;
            padding: 5px 5px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
            transition: all .3s ease;
            font-family: Helvetica, Arial, sans-serif;
        &-bottomClose
            display: block
            float: right
        &-footer
            display: block
            width: 100%
            min-height: 30px
</style>
