<template>
  <mu-flat-button
    labelClass="loginLogoutButton"
    v-if="logged_in()"
    label="Logout"
    @click="handleLogout"
    primary slot="right"
  />
  <mu-flat-button
    labelClass="loginLogoutButton"
    v-else="!logged_in()"
    label="Login"
    @click="handleLogin"
    primary slot="right"
  />

</template>
<style>

</style>
<script>
  export default {
    data () {
      return {
        logged_in: function () {
          return !!(this.$store.state.userStore.authUser)
        }
      }
    },
    methods: {
      handleLogout () {
        this.$store.dispatch('deleteUserObject')
        this.$router.push({name: 'home'})
      },
      handleLogin () {
        this.$router.push({name: 'login'})
      }
    }
  }
</script>
