<template>
    <div>
        <div class="Panel">
            <div class="Panel-header" @click="toggleOpen">
                <div class="Panel-title">
                    <slot name="title"></slot>
                    {{title}}
                </div>
            </div>
            <div class="Panel-content" v-if="openPanel">
                <slot>
                    empty
                </slot>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    .Panel {
        border: 1px grey solid;
        padding: 0;
        border-radius: 10px;
        margin: 10px 0 10px 0;
        overflow: hidden;
        .Panel-header {
            background: #e0e0e0;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            float: left;
            width: 100%;
            height: 50px;
            padding-right: 10px;
            padding-left: 10px;
            .Panel-title {
                color: black;
            }
            .Panel-icon {

            }
        }
        .Panel-content {
            display: block;
            float: left;
            width: 100%;
            background-color: white;
            color: black;
        }
    }
</style>
<script>
  export default {
    name: 'Panel',
    props: {
      open: {
        type: Boolean,
        default: true
      },
      title: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        openPanel: this.open
      }
    },
    methods: {
      toggleOpen: function () {
        this.openPanel = !this.openPanel
      }
    }
  }
</script>
