<template>
    <div class="preloader"></div>
</template>
<style scoped>
    .preloader {
        display: none;
    }

</style>
<script>
  export default {
    created: function () {
      this.$store.dispatch('filterStore/fetchFilters')
      this.$store.dispatch('taskStore/getList')
      this.$store.dispatch('routineStore/getList')
      this.$store.dispatch('checklistStore/getList')
      this.$store.dispatch('goalStore/getList')
    }
  }
</script>
